body { background:#fff; }
.top1 { background:#7d583e; }
.footer2 { background:#f4f0ef; }
.nav_index { border-bottom:1px solid #ddd; }
/*-- 底部悬浮 --*/
.footer1 { z-index:999; position:fixed; bottom:0; left:0; width:100%; height:62px; overflow:visible; background:url(bg.jpg) repeat-x 0 14px; }
.footer1 li { width:18%; margin-top:16px; text-align:center; }
.footer1 li.li3 { width:28%; margin:0; }
.footer1 li a { color:#fff; }
.home,.new,.tel,.my_acc { display:block; width:25px; height:23px; margin:0 auto; background:url(../default_wap/icon.png) 0 -30px; }
.new { background-position:0 -60px; }
.tel { background-position:0 -90px; }
.my_acc { background-position:0 -120px; }
.cart { display:block; width:64px; height:62px; margin:0 auto; background:url(../default_wap/gouwuc.png) -280px -80px; text-indent:-1000em; }
/*---------------------- 首页 ----------------------*/
/*-- 手机推荐广告 --*/
.recom_ad { clear:both; }
.recom_ad p img { display:block; width:10rem; }
.recom_ad li img { display:block; width:5rem; }
.recom_ad2 li img { display:block; width:3.33rem; }
.recom_ad3 li { margin-bottom:0.2rem; }
.recom_ad3 li img { display:block; width:4.9rem;}
/*-- 楼层广告 --*/
.ad_list img { width:10rem; }
/*-- 分类商品 --*/
.pro_list1 li { padding:0.2rem; }
.pro_list1 .name { width:4.5rem; height:36px; margin:0.1rem 0; }
.pro_list1 .goods_img { display:block; border:1px solid #dbdbdb; }
.pro_list1 .goods_img img { display:inline; width:4.5rem; height:4.5rem; padding:0; border:0; }