body { background:#f4f4f4; }
.top1 { background:#b8592b; }
/*-- 底部悬浮 --*/
.footer1 { z-index:999; position:fixed; bottom:0; left:0; width:100%; padding:4px 0; overflow:visible; background:#b8592b; }
.footer1 li { width:20%; text-align:center; }
.footer1 li a { color:#f1c7c8; }
.home,.new,.tel,.my_acc,.cart span{ display:block; width:25px; height:23px; margin:0 auto; background:url(../default_wap/icon.png) 0 -30px; }
.new { background-position:0 -60px; }
.tel { background-position:0 -90px; }
.my_acc { background-position:0 -120px; }
.cart span { background-position:0 -150px; }
/*---------------------- 首页 ----------------------*/
/*-- 分类商品 --*/
.title2 { height:25px; margin:0 10px; padding:5px 0; overflow:hidden; line-height:25px; font-weight:normal; font-size:14px; }
.title2 span { display:block; float:left; width:3px; height:13px; margin:6px 6px 0 0; background:#e10000; }
.title2 a { color:#7a7a7a; }
.pro_list1 li { width:4.5rem; padding:0.24rem 0.24rem 0.333rem; border-bottom:1px solid #dbdbdb; }
.pro_list1 li.span_left { border-right:1px solid #dbdbdb; }
.pro_list1 li.span_right { float:left; }
.pro_list1 .name { height:36px; margin:0.1rem 0; }
.pro_list1 .goods_img img { display:inline; width:4.5rem; height:4.5rem; padding:0; border:0; }
/*-- 底部分类 --*/
.footer_cate a { display:block; float:left; width:3.2rem; margin-bottom:0.2rem; color:#fff; line-height:35px; text-align:center; }
.footer_cate a.a1 { background:#fe706f; }
.footer_cate a.a2 { background:#70affe; margin:0 0.2rem; }
.footer_cate a.a3 { background:#b858fa; }
.footer_cate a.a4 { background:#6a3f2e; }
.footer_cate a.a5 { background:#2f952f; margin:0 0.2rem; }
.footer_cate a.a6 { background:#2e2e2e; }