<!--<?php
require_once template('header'); 
print <<<EOT
-->	<div class="top1">优惠券</div>
<div class="wrapper">
<script type="text/javascript">
$(function(){
    $("a[@dir=prev],a[@dir=prev]").click(function(e){
	    e.preventDefault();
		var rel=$(this).attr("rel");
		var jq_ul=$("ul[@rel="+rel+"]");
		var page=jq_ul.attr("page");
		var loading=jq_ul.attr("loading");
		if(loading=="1")
		{
		    alert("数据加载中，请稍等");
			return;
		}
		if(page<=1)
		{
		    alert("当前已是第一页");
			return;
		}
		jq_ul.attr("loading","1");
		page=page-1;
		if(page<=1) page=1;
		$.ajax({
		    url:"ajax.php?action=coupon&rel="+rel+"&page="+page,
			type:"GET",
			cache:true,
			dataType:"json",
			success:function(json){
			    jq_ul.attr("page",json["page"]);
				html="";
				for(var i in json["coupon"])
				{
				    html+='<li class="border">';
                    html+='<a href="'+json["coupon"][i]["url"]+'" target="_new"><img class="disb" src="'+json["coupon"][i]["coupon_img"]+'" width="213" height="140"/></a>';
				    html+='<p><a href="'+json["coupon"][i]["url"]+'" class="fl" target="_new">'+json["coupon"][i]["shop_name"]+'</a><span class="fr gray">满'+json["coupon"][i]["price_lbound"]+'元可使用</span></p>';
                    html+='<p><span class="fl">有效期至'+json["coupon"][i]["end_date"]+'</span><span class="fr red fd f14">'+json["coupon"][i]["discount"]+'元券</span></p>';
				    if(json["coupon"][i]["handout_type"]=="0") html+='<p><a href="'+json["coupon"][i]["url"]+'" class="fr free" target="_new">免费领取</a></p>';
					else if(json["coupon"][i]["handout_type"]=="1") html+='<p><a href="'+json["coupon"][i]["url"]+'" class="fr exchange" target="_new">'+json["coupon"][i]["sale_price"]+'积分兑换</a></p>';
				}
				jq_ul.html(html);
			},
			complete:function(){
			    jq_ul.attr("loading","0");
			}
		});//end ajax
	});//end click
	
	$("a[@dir=next],a[@dir=next]").click(function(e){
	    e.preventDefault();
		var rel=$(this).attr("rel");
		var jq_ul=$("ul[@rel="+rel+"]");
		var page=jq_ul.attr("page");
		var loading=jq_ul.attr("loading");
		if(loading=="1")
		{
		    alert("数据加载中，请稍等");
			return;
		}
		
		page++;
		jq_ul.attr("loading","1");
		page=page+1;
		if(page<=1) page=1;
		$.ajax({
		    url:"ajax.php?action=coupon&rel="+rel+"&page="+page,
			type:"GET",
			cache:true,
			dataType:"json",
			success:function(json){
			    jq_ul.attr("page",json["page"]);
				html="";
				for(var i in json["coupon"])
				{
				    html+='<li class="border">';
                    html+='<a href="'+json["coupon"][i]["url"]+'" target="_new"><img class="disb" src="'+json["coupon"][i]["coupon_img"]+'" width="213" height="140"/></a>';
				    html+='<p><a href="'+json["coupon"][i]["url"]+'" class="fl" target="_new">'+json["coupon"][i]["shop_name"]+'</a><span class="fr gray">满'+json["coupon"][i]["price_lbound"]+'元可使用</span></p>';
                    html+='<p><span class="fl">有效期至'+json["coupon"][i]["end_date"]+'</span><span class="fr red fd f14">'+json["coupon"][i]["discount"]+'元券</span></p>';
				    if(json["coupon"][i]["handout_type"]=="0") html+='<p><a href="'+json["coupon"][i]["url"]+'" class="fr free" target="_new">免费领取</a></p>';
					else if(json["coupon"][i]["handout_type"]=="1") html+='<p><a href="'+json["coupon"][i]["url"]+'" class="fr exchange" target="_new">'+json["coupon"][i]["sale_price"]+'积分兑换</a></p>';
				}
				jq_ul.html(html);
			},
			complete:function(){
			    jq_ul.attr("loading","0");
			}
		});//end ajax
	});//end click
});
</script>
	<h3 class="free_title"><span>免费领取</span><p class="fr coupon_page"><a href="#" class="up" rel="free_coupon" dir="next"></a><a href="#" class="next" rel="free_coupon" dir="prev"></a></p></h3>
	<div class="coupon_list"><!-- 免费领取开始 -->
        <ul rel="free_coupon" page="1">
<!--
EOT;
foreach($arr_free_coupon as $val){
print <<<EOT
-->
			<li>
                <a href="$val[url]" class="goods_img"><img class="disb" src="images/noimages/loading.gif" rel="lazy" path="$val[coupon_img]" /></a>
				<p>
                	<span class="fr red fd f14">$val[discount]元券</span><a href="$val[url]" class="fd" target="_new">$val[shop_name]</a><br />
                    有效期至$val[end_date]<br />
                    <span class="gray">满{$val[price_lbound]}元可使用</span><br />
                    <a href="$val[url]" class="free" target="_new">免费领取</a>
				</p>
            </li>
<!--
EOT;
} print <<<EOT
-->
        </ul>
    </div><!-- 免费领取结束 -->
    <div class="clear"></div> 
	<h3 class="free_title"><span>积分兑换</span><p class="fr coupon_page"><a href="#" class="up" rel="exchange_coupon" dir="next"></a><a href="#" class="next" rel="exchange_coupon" dir="prev"></a></p></h3>
	<div class="coupon_list"><!-- 积分兑换开始 -->
        <ul rel="exchange_coupon" page="1">
<!--
EOT;
foreach($arr_exchange_coupon as $val){
print <<<EOT
-->
			<li>
                <a href="$val[url]" class="goods_img"><img class="disb" src="images/noimages/loading.gif" rel="lazy" path="$val[coupon_img]" /></a>
				<p>
                	<span class="fr red fd f14">$val[discount]元券</span><a href="$val[url]" class="fd" target="_new">$val[shop_name]</a><br />
                    有效期至$val[end_date]<br />
                    <span class="gray">满{$val[price_lbound]}元可使用</span><br />
                    <a href="$val[url]" class="exchange" target="_new">$val[sale_price]积分兑换</a>
				</p>
            </li>
<!--
EOT;
} print <<<EOT
-->
        </ul>
    </div><!-- 积分兑换结束 -->
    <div class="clear"></div> 
	<h3 class="free_title"><span>购物返券</span><p class="fr coupon_page"><a href="#" class="up" rel="order_coupon" dir="next"></a><a href="#" class="next" rel="order_coupon" dir="prev"></a></p></h3>
	<div class="coupon_list"><!-- 购物反券开始 -->
        <ul rel="order_coupon" page="1">
<!--
EOT;
foreach($arr_order_coupon as $val){
print <<<EOT
-->
			<li>
                <a href="$val[url]" class="goods_img"><img class="disb" src="images/noimages/loading.gif" rel="lazy" path="$val[coupon_img]" /></a>
				<p>
                	<span class="fr red fd f14">$val[discount]元券</span><a href="$val[url]" class="fd" target="_new">$val[shop_name]</a><br />
                    有效期至$val[end_date]<br />
                    <span class="gray">满{$val[price_lbound]}元可使用</span><br />
                    <a href="$val[url]" class="giving" target="_new">购物满$val[sale_price]元赠送</a>
				</p>
            </li>
<!--
EOT;
} print <<<EOT
-->
        </ul>
    </div><!-- 购物反券结束 -->
<!--
EOT;
?>-->	