<!--<?php
require_once template('header'); 
require_once template('member_left');
print <<<EOT
-->
    <script type="text/javascript">
	$(function(){
	    $("input[@name=tel1],input[@name=tel2],input[@name=zip1],input[@name=birth_yy],input[@name=birth_mm],input[@name=birth_dd]").keydown(function(e){
			if((e.keyCode>=48 && e.keyCode<=57) || (e.keyCode>=96 && e.keyCode<=105) || e.keyCode==8) return true;
			return false;
		});//end keydown
		
		$("input[@rel=ch_email]").click(function(){
		    $("tr[@rel=email_row]").show();
		});//end click
		
		var code_lock=false;
		$("input[@rel=ch_code]").click(function(){
		    if(code_lock) return;
		    var member_email=$("input[@name=member_email]").val();
			if(!/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test(member_email))
			{
			    alert("邮箱地址错误，请填写正确的邮箱地址");
				return;
			}
			code_lock=true;
			$("input[@rel=ch_code]").attr("disabled",true);
			$.ajax({
			    url:"account.php?action=profile&cmd=email_code",
				type:"POST",
				data:{member_email:member_email},
				cache:false,
				success:function(msg){
				    alert(msg);
				},
				complete:function(){
				    code_lock=false;
					$("input[@rel=ch_code]").attr("disabled",false);
				}
			});//end ajax
		});//end click
	});
	</script>
	<div class="mem_right"><!-- 会员资料修改 -->
		<form enctype="multipart/form-data" method="post" action="?action=$action" name="mvmmall">
		<input type="hidden" name="ps_mode" value="modify" />
		<table cellspacing="0" class="table_list" rel="table">
			<tr><th colspan="2" class="fcl red">修改用户密码</th></tr>
			<tr><td width="60">当前密码</td><td><input name="old_pass" maxlength="32" type="password" class="text" size="30" /></td></tr>
			<tr><td>新 密 码</td><td><input name="pass1" maxlength="32" type="password" class="text" size="30" /></td></tr>
			<tr><td>密码确认</td><td><input name="pass2" maxlength="32" type="password" class="text" size="30" /></td></tr>
			<tr><th colspan="2" class="fcl red">修改支付密码</th></tr>
			<tr><td>当前密码</td><td><input name="old_pay_pass" maxlength="32" type="password" class="text" size="30" /> <br />
<font class="red">* 第一次设置无需填写</font></td></tr>
			<tr><td>新 密 码</td><td><input name="pay_pass1" maxlength="32" type="password" class="text" size="30" /></td></tr>
			<tr><td>密码确认</td><td><input name="pay_pass2" maxlength="32" type="password" class="text" size="30" /></td></tr>
			<tr><th colspan="2" class="fcl red">基本信息</th></tr>
			<tr><td>会员头像</td><td><input type="file" name="member_file" size="30" class="text" /><br />
<img src='$member_image' align='absmiddle' width="79" height="79" /></td></tr>
			<tr><td>姓名</td><td><input name="name"  value="$member_name" maxlength="40"  type="text" class="text" size="30" /></td></tr>  
			<tr><td>E-mail</td><td> $member_email <input type="button" rel="ch_email" value="修改邮箱地址" /></td></tr>   
			<tr rel="email_row" style="display:none;"><td class="red">新E-mail</td><td><input name="member_email"  type="text" class="text" size="40" /><input type="button" rel="ch_code" value="获取邮箱验证码" /></td></tr>
			<tr rel="email_row" style="display:none;"><td class="red">邮箱验证码</td><td><input name="email_code"  type="text" class="text" size="40" /></td></tr>
			<tr><td>电话</td><td><input name="tel1"  value="$member_tel1" maxlength="20" type="text" class="text" size="30" /></td></tr>
			<tr><td>手机</td><td><input name="tel2" value="$member_tel2" maxlength="18" type="text" class="text" size="30" /></td></tr>
			<tr><td>所属区域</td><td>
			<script language="javascript" src="include/javascript/jquery.city.js"></script>
			<select id="province" name="province"></select>
			<select id="city" name="city"></select>
			<select id="county" name="county"></select>
			<script type="text/javascript">
			$(function(){
				$.init_area(new Array("province","city","county"),new Array("$province","$city","$county"));
			});
			</script></td></tr>
			<tr><td>街道地址</td><td><input name="address1" value="$member_address" maxlength="80" type="text" class="text" size="30" /></td></tr>
			<tr><td>邮政编码</td><td><input  name="zip1" value="$zip1" maxlength="8"type="text" class="text" size="20" /></td></tr>
			<tr><th colspan="2" class="fcl red">完善信息</th></tr>
			<tr><td>性 别</td><td><input name="sex" type="radio" value="1" $sex_1_checked  /> 先生 <input name="sex" type="radio" value="0" $sex_2_checked /> 女士</td></tr>
			<tr><td>出生年月</td><td><input name="birth_yy" value="$birth_yy" maxlength="4" type="text" class="text" size="7" style="width:40px;" /> 年 <input name="birth_mm" value="$birth_mm" maxlength="2" type="text" class="text" size="4" style="width:40px;" /> 月 <input name="birth_dd" value="$birth_dd" maxlength="2" type="text" class="text" size="4" style="width:40px;" /> 日</td></tr>
			<tr><td>QQ</td><td><input name="qq" value="$qq" maxlength="12" type="text" class="text" size="30" /></td></tr>
			<tr><td>淘宝账号</td><td><input name="taobao" value="$taobao" maxlength="40" type="text" class="text" size="30" /></td></tr>
		</table>
		<p class="mem_but fcr"><input type="submit" class="mem_button" value="" /></p>
		</form>
	</div><!-- 会员资料修改结束 -->
<!--
EOT;
?>-->