<!--<?php
require_once template('header'); 
require_once template('social_left');
print <<<EOT
-->
<script type="text/javascript">
$(function(){
    $("a[@rel=tab]:eq($t)").addClass("hover");
	
	$("a[@rel=del]").click(function(e){
	    e.preventDefault();
		if(!confirm("确认删除指定留言？")) return;
		
		var uid=$(this).attr("uid");
		$.get(
		    "member.php?action=$action&t=$t&step=1&uid="+uid+"&rnd="+Math.random(),
			function(msg){
			    if(msg.indexOf("OK")!=-1) $("tr[@uid="+uid+"]").remove();
				alert(msg);
			}
		);
	});//end click
	
	$("a[@rel=check]").click(function(e){
	    e.preventDefault();
		if(!confirm("确认采纳指定留言？")) return;
		
		var jq_a=$(this);
		var uid=$(this).attr("uid");
		$.get(
		    "member.php?action=$action&t=$t&step=2&uid="+uid+"&rnd="+Math.random(),
			function(msg){
			    if(msg.indexOf("OK")!=-1)
				{
				    jq_a.parent().siblings("status[@rel=status]").html("已采纳");
				    jq_a.remove();
				}
				alert(msg);
			}
		);
	});//end click
});
</script>
    <div class="mem_right"><!-- 会员中心首页 开始 -->
		<div class="member_title fd red">别人给我的留言</div>
        <div class="title_rate_list">
        	<a href="member.php?action=$action&t=0" rel="tab"><span>供应留言</span></a>
            <a href="member.php?action=$action&t=1" rel="tab"><span>求购留言</span></a>
        </div>
		<table cellspacing="0" class="table_list fct" rel="table">
			<tr>
				<th>留言详情</th>
			</tr>
<!--
EOT;
foreach($arr_msg as $val){
print <<<EOT
-->			<tr uid="$val[uid]">
				<td class="fcl">
                	留言名称：<a href="$val[url]" target="_blank">$val[goods_name]</a><br />   
                	留言内容：<span class="gray">$val[msg]</span><br />
                	联系姓名：$val[name]<br />
					联系电话：$val[tel]<br />
					联系地址：$val[address]<br />
                    留言时间：$val[register_date]<br />
                    状态：<span rel="status">$val[status]</span><br />
                    操作：
<!--
EOT;
if($val[approval_date]<10){
print <<<EOT
-->
                    <a href="#" rel="check" uid="$val[uid]" class="tipsy_s deter blue" title="采纳">采纳</a>
<!--
EOT;
} print <<<EOT
-->
                    <a href="#" rel="del" uid="$val[uid]" class="tipsy_s delete blue" title="删除">删除</a>
				</td>
            </tr>
<!--
EOT;
} print <<<EOT
-->
		</table>
		<div class="page">$page_list</div>
	</div><!-- 会员中心首页 结束 -->
<!--
EOT;
?>-->