<!--<?php
require_once template('header');
require_once template('member_left');
print <<<EOT
-->
<script type="text/javascript">
$(function(){
    $("a[@rel=del]").click(function(e){
	    e.preventDefault();
		if(!confirm("确定删除指定优惠券？")) return;
		
		var uid=$(this).attr("uid");
		$.get(
		    "member.php?action=$action&step=1&uid="+uid+"&rnd="+Math.random(),
			function(msg){
			    alert(msg);
				if(msg.indexOf("OK")!=-1) $("tr[@uid="+uid+"]").remove();
			}
		);//end get
	});//end click
});
</script>
    <div class="mem_right"><!-- 会员中心首页 开始 -->
    	<div class="member_title fd red">我的优惠券</div>   
		<table cellspacing="0" class="table_list fct" rel="table">
			<tr>
				<th>优惠券</th>
                <th>操作</th>
			</tr>
<!--
EOT;
foreach($arr_coupon as $val){
print <<<EOT
-->			<tr uid="$val[uid]">
                <td class="fcl">
                	名称：$val[name]<br />
                    金额：<span class="red">$val[discount]</span><br />
                    商铺：<a href="$val[shop_url]" target="_blank">$val[shop_name]</a><br />
                    获取时间：$val[register_date]<br />
                	使用条件：<span class="red">$val[condition]</span><br />
                    有效期限：$val[start_date] 到 $val[end_date]
				</td>
                <td>
                    <a href="#" rel="del" uid="$val[uid]" class="tipsy_s delete" title="删除">删除</a>
				</td>
            </tr>
<!--
EOT;
} print <<<EOT
-->
		</table>
		<div class="page">$page_list</div>
	</div><!-- 会员中心首页 结束 -->
<!--
EOT;
?>-->