<!--<?php
require_once template('header'); 
require_once template('social_left');
print <<<EOT
-->
<script type="text/javascript">
$(function(){
    $("a[@rel=tab]:eq($t)").addClass("hover");
	$("a[@rel=comm][@uid=$c_uid]").addClass("hover");
	
	$("a[@rel=check]").click(function(e){
	    e.preventDefault();
		if(!confirm("确认审核指定成员？")) return;
		var uid=$(this).attr("uid");
		$.get(
		    "member.php?action=$action&step=2&uid="+uid+"&rnd="+Math.random(),
			function(){
			    $("tr[@uid="+uid+"]").remove();
			}
		);//end get
	});//end click
	
	$("a[@rel=del]").click(function(e){
	    e.preventDefault();
		if(!confirm("确认删除指定成员？")) return;
		var uid=$(this).attr("uid");
		$.get(
		    "member.php?action=$action&step=1&uid="+uid+"&rnd="+Math.random(),
			function(){
			    $("tr[@uid="+uid+"]").remove();
			}
		);//end get
	});//end click
	
	$("a[@rel=back]").click(function(e){
	    e.preventDefault();
		if(!confirm("确认驳回指定成员的申请？")) return;
		var uid=$(this).attr("uid");
		var back_reason=$(this).siblings("input[@name=back_reason]").val();
		if(back_reason=="")
		{
		    alert("请填写您的驳回理由");
			return;
		}
		$.post(
		    "member.php?action=$action&step=3&uid="+uid+"&rnd="+Math.random(),
			"back_reason="+back_reason,
			function(msg){
			    if(msg.indexOf("ERR")!=-1)
				{
				    alert(msg);
					return;
				}
			    $("tr[@uid="+uid+"]").remove();
			}
		);//end get
	});//end click
});
</script>
    <div class="mem_right"><!-- 会员中心首页 开始 -->
		<div class="member_title fd red">成员管理</div>
        <div class="title_rate_list">
        	<a href="member.php?action=$action&c_uid=$c_uid&t=0" rel="tab"><span>已审核</span></a>
            <a href="member.php?action=$action&c_uid=$c_uid&t=1" rel="tab"><span>未审核</span></a>
			<a href="member.php?action=$action&c_uid=$c_uid&t=2" rel="tab"><span>已拒绝</span></a>
        </div>
		<div class="mb10 my_hover">我的生活圈：
<!--
EOT;
foreach($arr_comm as $val){
print <<<EOT
-->	
		<a href="member.php?action=$action&c_uid=$val[uid]&t=$t" uid="$val[uid]" rel="comm">$val[c_name]</a>
<!--
EOT;
} print <<<EOT
-->
		</div>
		<table cellspacing="0" class="table_list fct" rel="table">
			<tr>
				<th colspan="2">会员详情</th>
			</tr>
<!--
EOT;
foreach($arr_member as $val){
print <<<EOT
-->			<tr uid="$val[uid]">
                <td><img src="$val[member_image]"/></td>
				<td class="fcl">
                    会员名称：$val[member_id]<br />
                    会员等级：$val[member_class]<br />
                    加入时间：$val[register_date]<br />
                    加入申请：$val[join_reason]<br />
<!--
EOT;
if($t==2){
print <<<EOT
-->					拒绝原因：$val[back_reason]<br />
<!--
EOT;
} print <<<EOT
-->
                	操作：
				    <a href="#" rel="del" uid="$val[uid]" class="tipsy_s delete blue" title="删除">删除</a>
<!--
EOT;
if($t==1){
print <<<EOT
-->
				    <a href="#" rel="check" uid="$val[uid]" class="tipsy_s deter red" title="审核">审核</a>
					<a href="#" rel="back" uid="$val[uid]" class="tipsy_s resend red" title="驳回">驳回</a>
					驳回理由：<input type="text" class="text" name="back_reason" />
<!--
EOT;
} print <<<EOT
-->
				</td>
            </tr>
<!--
EOT;
} print <<<EOT
-->
		</table>
		<div class="page">$page_list</div>
	</div><!-- 会员中心首页 结束 -->
<!--
EOT;
?>-->