<!--<?php
require_once template('header'); 
require_once template('member_left');
print <<<EOT
--> 
<script type="text/javascript">
$(function(){
    var t="$t";
	$("a[@t="+t+"]").addClass("hover");
	
	$("a[@rel=del_fav]").click(function(){
	    if(!confirm("确认删除指定收藏商品？")) return;
		var t=$(this).attr("t");
		var uid=$(this).attr("uid");
		$.get(
		    "member.php?action=$action&act=del&f_uid="+uid+"&t="+t+"&rnd="+Math.random(),
			function(){
			    $("tr[@uid="+uid+"]").remove();
			}
		);//end get
	});//end click
});
</script>
    <div class="mem_right">
		<div class="title_rate_list">
		    <a href="member.php?action=myfav&t=0" t="0"><span>商铺收藏</span></a>
		    <a href="member.php?action=myfav&t=1" t="1"><span>商品收藏</span></a>
		</div>
		<table cellspacing="0" class="table_list fct" rel="table">
			<tr class="fn">
				<th colspan="2">商品名称</th>
				<th width="20%">操作</th>
			</tr>
<!--
EOT;
foreach($arr_fav as $val){
print <<<EOT
-->	
			<tr uid="$val[f_uid]">
            	<td class="fcl" width="80">
                	<a href="$val[url]" target="_blank"><img src="$val[goods_file1]" width="80" height="80" class="border" /></a>
                </td>
                
				<td class="fcl">
					<a href="$val[url]" target="_blank">$val[goods_name]</a>
                    <span class="red">$val[goods_sale_price]</span>
                </td>
				<td>
				    <a href="$val[url]" class="tipsy_s view blue" title="查看" target="_blank">查看</a><br />
					<a href="#" rel="del_fav" uid="$val[f_uid]" t="1" class="tipsy_s delete blue" title="blueblue">删除</a>
				</td>
			</tr>
<!--
EOT;
} print <<<EOT
-->
	</table>
	<div class="page">$page_list</div>
	</div>
<!--
EOT;
?>-->