 <!--<?php
require_once template('header'); 
print <<<EOT
-->	<div class="top1">会员注册</div>
<div class="wrapper">
<script type="text/javascript">
$(function(){
    $("#reg_form").submit(function(){
	    var msg="";
		if($("input[@name=login_id]").val()=="") msg+="请填写用户名\\n";
		if($("input[@name=pass1]").val()=="") msg+="请填写密码\\n";
		if($("input[@name=pass1]").val()!=$("input[@name=pass2]").val()) msg+="两次填写的密码不一致\\n";
		if(!$("input[@name=agree]").attr("checked")) msg+="您未同意本商城会员协议，无法注册\\n";
		if(msg!="")
		{
		    alert(msg);
			return false;
		}
		return true;
	});//end submit
	
	$("input[@name=login_id]").blur(function(){
	    var jq_span=$("span[@rel=login_id]");
		jq_span.html("");
		if($(this).val()=="")
		{
		    jq_span.html("请填写注册会员ID");
			return;
		}
		$.post(
		    "ajax.php?action=user&rnd="+Math.random(),
			"id="+$(this).val(),
			function(msg){
			    jq_span.html(msg);
			}
		);//end post
	});//end blur
	
	$("input[@name=pass1]").blur(function(){
	    var jq_span=$("span[@rel=pass1]");
		jq_span.html("");
	    if($(this).val()=="") jq_span.html("请填写密码");
		else if($("input[@name=pass2]").val()!="" && $("input[@name=pass2]").val()!=$(this).val()) jq_span.html("两次密码输入不一致");
	});//end blur
	
	$("input[@name=pass2]").blur(function(){
	    var jq_span=$("span[@rel=pass1]");
		jq_span.html("");
		
		if($(this).val()=="") jq_span.html("请填写确认密码");
		else if($("input[@name=pass1]").val()!=$(this).val()) jq_span.html("两次密码输入不一致");
	});//end blur
});
</script>
	<div class="logform">
<!--
EOT;
if($oauth=='wx'){
print <<<EOT
-->
    	<p class="mb10 fct" style="line-height:30px;">来自微信客户端的<span class="red f16">$oauth_nick_name</span><br />立即设置一个密码，就可以直接登录了</p>
<!--
EOT;
if($oauth_already_register){
print <<<EOT
-->
        <p class="fct">您的用户名已被注册，可选择商城推荐的用户名: $auth_info[nickname]</p>
<!--
EOT;
} print <<<EOT
-->
		<p class="mb10 fct"><a href="register.php?action=bind&oauth=$oauth" class="binding_button">绑定已有的商城账号</a></p>
<!--
EOT;
} print <<<EOT
-->
		
   	  <form method="post" id="reg_form" action="register.php?oauth=$oauth">
		<input type="hidden" name="step" value="1" />
        <table>
		    <tr><th>用户名：</th><td><input name="login_id" maxlength="40" value="$auth_info[nickname]" type="text" class="text" size="40" /><br /><br /><span rel="login_id" class="red"></span></td></tr>
        	<tr><th>请设定密码：</th><td><input name="pass1" maxlength="32" type="password" class="text" size="40" /><br /><br /><span rel="pass1" class="red"></span></td></tr>  
        	<tr><th>请确认密码：</th><td><input name="pass2" maxlength="32" type="password" class="text" size="40" /></td></tr>
<!--
EOT;
if($mm_code_use==1){
print <<<EOT
-->        	<tr>
                <th>验证码：</th>
				<td>
                    <input name="code" type="text" class="text text_yzm" size="20" maxlength="8" style="width:102px;" />&nbsp;
					<img align="absmiddle" src="ajax.php?action=code&rnd=$m_now_time" rel="code" onClick="this.src='ajax.php?action=code&rnd='+Math.random();" style="cursor:pointer; height:32px" alt="验证码" />
                    <br /><br /><span rel="code" style="display:none;">请输入验证码</span>
				</td>
			</tr> 
<!--
EOT;
} print <<<EOT
-->
<!--
EOT;
if($auth_info[headimgurl]){
print <<<EOT
-->
            <tr>
		        <td>远程头像</td>
			    <td>
			        <img src="$auth_info[headimgurl]" style="width:5rem;" /><br />
					<input type="checkbox" name="use_blog_head" value="1" checked /> 使用远程头像作为商城头像
					<input type="hidden" name="headimgurl" value="$auth_info[headimgurl]" />
			    </td>
		    </tr>
<!--
EOT;
} print <<<EOT
-->
			<tr><th colspan="2"><input type="checkbox" checked="checked" name="agree" value="1" class="vmid"/> 我已经认真阅读并且完全同意 <a href="page.php?action=member" title="用户服务协议" target="_blank" class="blue">《用户服务协议》</a> 中的所有条款。</th></tr>
			<tr><th></th><td><input type="submit" value="" class="reg_button" /></td></tr>
        </table>
        </form>
    </div><!-- 会员注册资料结束 -->
<!--
EOT;
?>-->