<!--<?php
require_once template('header'); 
print <<<EOT
-->	<div class="top1">找商铺</div>
<div class="wrapper">
<script type="text/javascript" src="include/javascript/jquery.cookie.js"></script>
<script type="text/javascript">
$(function(){
    var sellshow=parseInt("$sellshow");
	if(sellshow==0) $("a[@rel=sellshow]").eq(0).addClass("now");
	else if(sellshow==1) $("a[@rel=sellshow]").eq(1).addClass("now");
	else if(sellshow==2) $("a[@rel=sellshow]").eq(2).addClass("now");
	
	var shop_cat=parseInt("$shop_cat");
	if(shop_cat>0)
	{
	    $("a[@rel=sup_cat]").removeClass("hover").filter("[@cat_id="+shop_cat+"]").addClass("hover");
	}
	
	//关于gps定位
	$("input[@rel=gps]").click(function(){
	    if(!navigator.geolocation)
		{
		    alert("您的浏览器不支持定位功能");
			$(this).attr("checked",false);
			return;
		}
		
	    if($(this).attr("checked"))
		{
		    navigator.geolocation.getCurrentPosition(
                function(pos){ // 如果成果则执行该回调函数
					$.cookie("lng", pos.coords.longitude);    //纬度
			        $.cookie("lat",pos.coords.latitude);    //经度
					window.location.reload();
                }, function(err){ // 如果失败则执行该回调函数
			        switch(err.code)
                    {
                        case err.PERMISSION_DENIED:
                            alert("User denied the request for Geolocation.");
                            break;
                        case err.POSITION_UNAVAILABLE:
                            alert("Location information is unavailable.");
                            break;
                        case err.TIMEOUT:
                            alert("The request to get user location timed out.");
                            break;
                        case err.UNKNOWN_ERROR:
                            alert("An unknown error occurred.");
                            break;
						default:
						    alert(err.message);
							break;
                    }
					$(this).attr("checked",false);
                }, { // 附带参数
                    enableHighAccuracy: true, // 提高精度(耗费资源)
                    timeout: 5000, // 超过timeout则调用失败的回调函数
                    maximumAge: 20000 // 获取到的地理信息的有效期，超过有效期则重新获取一次位置信息
                }
            );//end getCurrentPosition
		}
		else
		{
		    $.cookie("lng",0);
			$.cookie("lat",0);
			window.location.reload();
		}
	});//end click
});
</script>
    <div class="border border_bn h_oflow">
     	<p class="location"><span class="loca_icon"></span>$navigation<span class="span_right">为你找到相关的<strong class="red">$total_count</strong>家商铺</span></p>
	</div>
	<table width="100%" border="0" class="attrs">
        <tr class="attrs_cate">
            <th>商铺分类</th>
            <td><div class="toggle_div"><a href="" rel="tip_open" class="tip_open"></a>
                <a class="hover" href="$shop_url" rel="sup_cat">全部</a>
<!--
EOT;
foreach($cat_parent as $val){
print <<<EOT
-->
                <a href="sort.php?shop_cat=$val[uid]&province_s=$province_s&city_s=$city_s&county_s=$county_s" rel="sup_cat" cat_id="$val[uid]">$val[category_name]</a>
<!--
EOT;
} print <<<EOT
-->
            </div></td>
        </tr>
        <tr class="attr_filter">
            <td colspan="2"><ul>
                <li class="sort">
                    <a href="sort.php?shop_cat=$shop_cat&province_s=$province_s&city_s=$city_s&county_s=$county_s&shop_name=$shop_name&sellshow=$sellshow&o=act" title="按商铺等级排序" class="$spdj_class">等级</a>
                    <a href="sort.php?shop_cat=$shop_cat&province_s=$province_s&city_s=$city_s&county_s=$county_s&shop_name=$shop_name&sellshow=$sellshow&o=reg" title="按加盟时间排序" class="$jmsj_class">加盟时间</a>
                </li>
                <li class="type">
				    <a href="sort.php?shop_name=$shop_name&o=$o&province_s=$province_s&city_s=$city_s&county_s=$county_s" rel="sellshow" title="全部">全部</a>  
                    <a href="sort.php?shop_name=$shop_name&o=$o&province_s=$province_s&city_s=$city_s&county_s=$county_s&sellshow=1" rel="sellshow" title="销售型商铺">销售型</a>  
					<a href="sort.php?shop_name=$shop_name&o=$o&province_s=$province_s&city_s=$city_s&county_s=$county_s&sellshow=2" rel="sellshow" title="展示型商铺">展示型</a>     
                </li>
                
            </ul></td>
        </tr>
        <tr class="attr_filter">
            <td colspan="2"><ul>
                <li>
                <form action="sort.php?shop_cat=$shop_cat" method="post">
                    <span class="span_left">搜商铺：</span><input type="text" class="text" name="shop_name" size="20" value="$shop_name" /><br />

                    <script language="javascript" src="include/javascript/jquery.city.js"></script>
                    <select id="province_s" name="province_s"></select>
                    <select id="city_s" name="city_s"></select>
                    <select id="county_s" name="county_s"></select>
                    <script type="text/javascript">
                    $(function(){
                        $.init_area(new Array("province_s","city_s","county_s"),new Array("$province_s","$city_s","$county_s"));
                    });
                    </script>
                    <input type="submit" class="sea_button" value="确定" />
                    <p><input type="checkbox" rel="gps" $near_checked class="vmid"/> 查找附近商铺</p>
                </form>
                </li>
            </ul></td>
        </tr>
    </table>
	<div class="clear"></div>
<!--
EOT;
$rank=0;
foreach ($shop_list as $val){
$rank++;
$c=$val[sellshow]==2?'shop_shows':'shop_sales';
print <<<EOT
--> <div class="border shopnew2 h_oflow">	
		<dl>
			<dt class="fct">
                <a href="$val[shop_url]" title="$val[shop_name]" target="_blank" class="h_oflow"><img src="images/noimages/loading.gif" rel="lazy" path="$val[up_logo]" /><span class="$c"></span><!--
EOT;
if($val[distance]){
print <<<EOT
--><strong class="distance">约 $val[distance]</strong><!--
EOT;
} print <<<EOT
--></a>
                <a href="$val[shop_url]" title="马上去逛逛" class="goto_shop1" target="_blank"></a>
                <a href="#" rel="fav" t="0" uid="$val[m_uid]" module="" gt="" title="收藏该商铺" class="goto_promote1" target="_blank"></a>  
            </dt>
			<dd class="name"><a href="$val[shop_url]" title="$val[shop_name]" target="_blank">$val[shop_name]</a><!--
EOT;
if($val[certified_type] & 1){
print <<<EOT
-->				<a href="$mm_url[certification]" target="_blank" class="tipsy_s cert0" title="已实名认证"></a>
<!--
EOT;
} print <<<EOT
--><!--
EOT;
if($val[certified_type] & 2){
print <<<EOT
-->				<a href="$mm_url[certification]" target="_blank" class="tipsy_s cert1" title="已实体认证"></a>
<!--
EOT;
} print <<<EOT
--><!--
EOT;
if($val[certified_type] & 4){
print <<<EOT
-->				<span class="tipsy_s xb" title="消保商铺 消保是指商铺缴纳一定数额的消费者保障金，用于交易纠纷时先行赔付给买家"></span>
<!--
EOT;
} print <<<EOT
-->         <span class="fr">商品数：<span class="orange">$val[goods_cnt]</span></span></dd>
			<dd>主营：$val[run_product]</dd>
			<dd>地址：$val[province]$val[city]$val[county]$val[shop_address]</dd>
			<dd class="nms">描述：$val[shop_intro] <a href="$val[promote_url]" class="gray" target="_blank">详情&gt;&gt;</a></dd>
		</dl>
	</div>
	<div class="clear"></div>
<!--
EOT;
} print <<<EOT
-->
	<div class="page">$page_list</div>
<!--
EOT;
?>-->