/*-------------------- 针对不同模板独立定义的样式 -----------------------*/
body { background:#f3fbfe url(bg_body.jpg) repeat-x; }
.footer_bg { background:#fff; }
.border { background:#fff; }
.title1 { background:#008309; }
.title2 { padding:5px 15px 9px 25px; background:url(title_bg.jpg); }
.title2 span { padding:0 8px; color:#fff; font-size:14px; line-height:34px; }
.title2 img { height:34px; }
.title2 a { float:right; color:#fff; }
.zn_search { color:#fff; padding:10px 0 0 0; }
.top2_bg { background:#fff; border-bottom:1px solid #f1f1f1; }
.top2 { display:none; }
/*-- 头部第三块开始 --*/
.new_header { width:1200px; margin:8px auto; }
.top3 { height:40px; background:url(bg_nav.png) no-repeat }
.top3 ul { float:left; width:725px; }
.top3 li .navtab { float:left; width:72px; height:40px; overflow:hidden; line-height:36px; color:#fff; text-align:center; }
.top3 li .self { float:left; font-weight:bold; }
.top3 li a:hover { color:#000; text-decoration:none; }
.top3 .allcat { position:relative; float:left; width:220px; height:40px; line-height:32px; padding:0 0 0 10px; }
.top3 .allcat span { display:block; position:absolute; left:10px; top:9px; background:url(cate_bg.png) no-repeat; width:120px; height:17px; text-indent:-1000em; }
.top3 .allcat i { display:block; position:absolute; right:10px; top:2px; background:url(cate_bg.png) no-repeat -99px -25px; width:20px; height:30px; }
.top3 .allcat i.on { background-position:-74px -25px; }
.top_cate { display:none; z-index:99; position:absolute; width:230px; background:#035da8;  }
.top_cate a:hover { text-decoration:none; }
.top_cate dt a { display:block; padding:0 13px; overflow:hidden; line-height:30px; color:#fff; }
.top_cate dt.self { background:#188ec8; }
.top_cate dd { display:none; }
.sub_category { display:none; background:#188ec8; width:170px; z-index:1; }
.sub_category a { display:block; padding:0 10px 0 25px; line-height:30px; color:#fff; }
.sub_category a:hover { background:#035da8; color:#fff; }