<!--<?php 
require_once template('header');
require_once template('left');
print <<<EOT
-->	<div class="right">
		<div class="location"><p><span class="loca_icon"></span><strong>团购</strong>(共有 <span class="red fd">$total_count</span> 个商品)</p></div>
		<div class="pro_list">
			<ul>
<!--
EOT;
foreach($arr_group as $val){
print <<<EOT
-->
                <li style="height:310px;"><div class="border">
                	<a href="$val[url]" target="_blank"><img src="$val[goods_file1]" /></a>
                    <p class="name">$val[addoption]<a href="$val[url]" target="_blank">$val[goods_name]</a></p>
                    <p>市场价：$val[goods_market_price]<span class="span_right"><span class="red">$val[discount]</span> 折</span></p>
                    <p>折后价：<span class="red">$val[goods_sale_price]</span><span class="span_right gray">({$val[join_num]}人参与)</span></p>
                </div></li>
<!--
EOT;
} print <<<EOT
-->
			</ul>
			<div class="page">$lang[genus_total]<span>$total_count</span>$lang[entries]$lang[note] | $page_list</div>
		</div>
	</div><!-- 团购商品结束 -->
<!--
EOT;
?>-->