<!--<?php
require_once template('header'); 
require_once template('pro_right'); 
print <<<EOT
-->
<script type="text/javascript" src="include/javascript/jquery.jqzoom.min.js"></script>
<script type="text/javascript">
$(function(){
    $("#jqzoom").jqueryzoom({
        xzoom: 300,
	    yzoom: 300,
	    offset: 0,
	    position: "right", 
	    preload:1,
	    lens:1
	});//end jqueryzoom
	
	$("a[@rel=gallery]").hover(
	    function(e){
		    var img_small=$(this).attr("img_small");
			var img_big=$(this).attr("img_big");
			$("#jqzoom").children("img").attr("src",img_small).attr("jqimg",img_big);
		},
		function(e){}
	);//end hover
	
	$.get(
	    "ajax.php?action=get_gcontent&uid=$product[uid]&detail_table=$detail_table",
		function(msg){
		    $("div[@rel=goods_main]").html(msg);
		}
	);//end get
});
</script>
<script type="text/javascript">
$(function(){
    $.extend({
	    LoadConsult:function(jq_list){
		    if(jq_list.data("loaded")=="loaded") return;
			jq_list.data("loaded","loaded");
			
			$.get(
			    "ajax.php?action=gcomment&step=read&g_uid=$product[uid]&mod=$script",
				function(msg){
				    jq_list.html(msg);
				}
			);//end get
		},
		LoadComment:function(jq_list){
		    if(jq_list.data("loaded")=="loaded") return;
			jq_list.data("loaded","loaded");
			$.get(
			    "ajax.php?action=order_comment&cmd=read&g_uid=$product[uid]&gt=$goods_table",
				function(msg){
				    jq_list.html(msg);
					$.SetUsableEvent();
				}
			);//end get
		},
		LoadOrder:function(jq_list){
		    if(jq_list.data("loaded")=="loaded") return;
			jq_list.data("loaded","loaded");
			$.get(
			    "ajax.php?action=order_rec&g_uid=$product[uid]&gt=$goods_table",
				function(msg){
				    if(msg=="") return;
					jq_list.append(msg)
				    $.SetFriendEvent();    //in mvm.js
				}
			);//end get
		},
		SetUsableEvent:function(){
		    $("a[@rel=usable],a[@rel=unusable]").unbind("click");
			$("a[@rel=usable],a[@rel=unusable]").click(function(e){
			    e.preventDefault();
				var tag=$(this).attr("rel");
				var uid=$(this).attr("uid");
				var num=$(this).children("b:first").html();
				$(this).children("b:first").html(parseInt(num)+1);
				$.get("ajax.php?action=order_comment&cmd=write&uid="+uid+"&tag="+tag);
			});//end click
		}
	});//end extend

    $("a[@rel=tab_title]").hover(
	    function(e){
		    $("a[@rel=tab_title]").removeClass("hover");
			$(this).addClass("hover");
		    var idx=$("a[@rel=tab_title]").index(this);
			var jq_tab_body=$("div[@rel=tab_body][@n=product]");
			jq_tab_body.hide();
			jq_tab_body.eq(idx).show();
			if(idx==1) $.LoadConsult(jq_tab_body.children("ul[@rel=consult]:first"));
			else if(idx==2) $.LoadComment(jq_tab_body.children("table[@rel=order_comment]:first"));
			else if(idx==3) $.LoadOrder(jq_tab_body.children("table[@rel=order_rec]:first"));
		},
		function(e){}
	);//end hover
	
	$("div[@rel=gcomment]").children("input[@rel=gcomment_submit]").click(function(){
	    var jq_form=$("div[@rel=gcomment]");
	    var comment_body=jq_form.children("textarea[@name=comment_body]").val();
		var code=jq_form.children("input[@name=code]").val();
		var msg="";
		comment_body=$.trim(comment_body);
		if(comment_body=="") msg+="请填写咨询内容\\n";
		if(comment_body.length>150) msg+="您的咨询内容过于冗长，请精简后再提交\\n";
		if(jq_form.data("loading")=="loading") msg+="您的提交过于频繁，请稍候...\\n";
		if(msg!="")
		{
		    alert(msg);
			return;
		}
		
		jq_form.data("loading","loading");
		$.post(
		    "ajax.php?action=gcomment&step=write&g_uid=$product[uid]&type=$product[type]&mod=$script",
			{comment_body:comment_body,code:code},
			function(msg){
			    jq_form.data("loading","");
			    
				if(msg.indexOf("ERR")==-1)
				{
				    jq_form.children("textarea[@name=comment_body]").val("");
					jq_form.children("input[@name=code]").val("");
					jq_form.find("img[@rel=code]").trigger("click");
					
					var jq_ul=$("ul[@rel=consult]");
					jq_ul.children("li[@rel=first_row]").remove();
					jq_ul.prepend(msg);
					jq_ul.children("li:first").slideDown("slow");
				}
				else alert(msg);
			}
		);//end post
	});//end click
});
</script>
<script type="text/javascript">
$(function(){
    $("a[@rel=property]").each(function(){
	    if($(this).attr("img")!="")
		{
			$(this).html("<img src='$main_settings[mm_mall_url]/"+$(this).attr("img")+"' /><i></i>");
		}
	});//end each
	
	var PROPERTY_HEIGHT=124;
	var jq_property_frame=$("div[@rel=property_frame]:first");
	jq_property_frame.attr("height",jq_property_frame.height());
	if(jq_property_frame.height()>PROPERTY_HEIGHT)
	{
	    jq_property_frame.css({
		    overflow:"hidden",
			height:PROPERTY_HEIGHT+"px"
		});
		$("a[@rel=more_property]").parent().show();
	}
	
	$("a[@rel=more_property]").click(function(e){
	    e.preventDefault();
		var to_height=jq_property_frame.height()>PROPERTY_HEIGHT?PROPERTY_HEIGHT:jq_property_frame.attr("height");
		jq_property_frame.animate({
		    height:to_height+"px"
		});
	});//end click
});
</script>
<script type="text/javascript">
$(function(){
    var str_attr_store="$product[attr_store]";
	var arr_attr_store=[];
	if(str_attr_store!="") arr_attr_store=str_attr_store.split("||");
	
	$("a[@rel=property]").click(function(e){
		e.preventDefault();
		if($("dl[@rel=property]").size()<=0) return;
		
		$(this).siblings("a[@rel=property]").attr("selected","");
		$(this).siblings("a[@rel=property]").removeClass("active");
		$(this).attr("selected","selected");
		$(this).addClass("active");
		
		var b_all_sel=true;
		var arr_prop=[];    //选中的所有属性
		$("dl[@rel=property]").each(function(i){
		    var jq_a=$(this).find("a[@rel=property][@selected=selected]");
		    if(jq_a.size()<=0)
			{
			    b_all_sel=false;
				return false;
			}
			
			arr_prop.push(jq_a.attr("key")+":"+jq_a.attr("value"));
			
			return true;
		});//end each
		if(!b_all_sel) return;
		var i_find=-1;
		for(var i in arr_attr_store)    //查找属于哪条属性
		{
		    var b_find=true;
			for(var j in arr_prop)
			{
			    if(arr_attr_store[i].indexOf(arr_prop[j])==-1)
				{
				    b_find=false;
					break;
				}
			}
			
			if(b_find)
			{
			    i_find=i;
				break;
			}
		}
		
		if(i_find!=-1)    //找到所属属性
		{
		    var arr_tmp=arr_attr_store[i_find].split("|");
			var store=arr_tmp[arr_tmp.length-1];
			var add_price=parseInt(arr_tmp[arr_tmp.length-2]);
			if(isNaN(add_price) || add_price<0) add_price=0;

			$("b[@rel=goods_stock]").html(store);    //设置库存
			//设置价格
			var jq_span=$("em[@rel=sale_price]:first");
			jq_span.html(currency("$main_settings[mm_price_sign]",parseFloat(jq_span.attr("ori_price"))+add_price));
		}
	});//end click
	
	$("a[@rel=add_cart]").click(function(e){
        e.preventDefault();
		
		var attr="";
		var ps_num=parseInt($("#ps_num").val());
		if(isNaN(ps_num) || ps_num<=0)
		{
		    $("#ps_num").val("1")
			ps_num=1;
		}
		
		var b_all_sel=true;
		var arr_prop=[];    //选中的所有属性
		$("dl[@rel=property]").each(function(i){
		    var jq_a=$(this).find("a[@rel=property][@selected=selected]");
		    if(jq_a.size()<=0)
			{
			    b_all_sel=false;
				alert("请选择\""+$(this).find("dt:eq(0)").attr("key")+"\"属性");
				return false;
			}
			
			arr_prop.push(jq_a.attr("key")+":"+jq_a.attr("value"));
			return true;
		});//end each
		if(!b_all_sel) return;
		
		var i_find=-1;
		for(var i in arr_attr_store)    //查找属于哪条属性
		{
		    if(isNaN(parseInt(i))) continue;
			var b_find=true;
			for(var j in arr_prop)
			{
			    if(isNaN(parseInt(j))) continue;
			    if(arr_attr_store[i].indexOf(arr_prop[j])==-1)
				{
				    b_find=false;
					break;
				}
			}
			
			if(b_find)
			{
			    i_find=i;
				break;
			}
		}
		
		if(i_find!=-1)    //找到所属属性
		{
		    var arr_tmp=arr_attr_store[i_find].split("|");
			store=arr_tmp[arr_tmp.length-1].replace("(","").replace(")","");
			store=parseInt(store);
			if(isNaN(store)) store=0;
			if(store<ps_num)
			{
			    alert("库存不足，无法购买");
				return;
			}
			
			attr=arr_attr_store[i_find].substring(0,arr_attr_store[i_find].lastIndexOf("|"));    //属性值
		}
		else if(i_find==-1 && $("dl[@rel=property]").size()<=0)    //没有设置属性
		{
		    if(parseInt("$product[goods_stock]")<ps_num)
			{
			    alert("库存不足，无法购买");
			    return;
			}
		}
		else
		{
		    alert("检索不到指定属性配置，请联系管理员");
			return;
		}
		
        var o = $(this).position();
		var url=$(this).attr("url");
        $.ajax({
	        type: "POST",
	        url: "ajax.php?action=cart_add&rnd="+Math.random(),
	        cache:false,
	        dataType:'json',
	        data: {
			    ps_num:ps_num,
			    attr:attr,
				g_uid:"$product[uid]",
				gt:"$goods_table",
				module:"$script"
			},
	        success: function(json){
			     if(json.err)
				 {
				     alert(json.err);
				     return false;
				 }
				 if(url && url!="")
				 {
					 window.location=url;
					 return;
				 }
				 $("#show_cart").html('<div id="gm"><h3><i></i>商品已成功加入购物车！</h3><p>购物车中已有<span class="red fd">'+json["info"]["total_num"]+'</span>商品 应付总额（不含运费）：<span class="red fd">'+json["info"]["total_price_txt"]+'</span></p><p><a href="$main_settings[mm_mall_url]/cart.php?action=list">去购物车结算</a><a href="#" onclick="\$(\'#show_cart\').fadeOut(200);return false;">继续购物</a></p></div>');
				 var height = $("#show_cart").height()+8;
				 var width = $("div.product_right").width()+"px";
				 height = o.top-height+"px";
				 $("#show_cart").css({"top":height,"width":width}).show();
			 }
        });//end ajax
    });//end click
});
</script>
<script type="text/javascript" src="include/javascript/jquery.countdown.js"></script>
<script type="text/javascript">
$(function(){
    $("td[@rel=time_bar]").count_down("$time_left");
});
</script>

	<div class="left2">
        <div class="h_oflow border">
            <div class="product_left fl">
                <div id="jqzoom" class="jqzoom"><img src="{$arr_gallery[0][0]}" jqimg="{$arr_gallery[0][1]}" width="420" height="420" /></div>
                <div class="pro_little">
<!--
EOT;
foreach($arr_gallery as $val){
print <<<EOT
-->
                	<a href="$val[0]" rel="gallery" img_small="$val[0]" img_big="$val[1]" target="_blank"><img src="$val[0]"/></a>
<!--
EOT;
} print <<<EOT
-->
                </div>
            </div>
            <div class="product_right fl">
                <h3 class="product_title f14">$product[addoption] $product[goods_name]</h3>
                <div class="price_bar price_table mb6" >
                    <table width="100%" class="f14">
                      <tr>
                        <td><em class="price_big red" rel="sale_price" ori_price="$product[ori_price]">$product[goods_sale_price]</em></td>
                        <td class="fcr f12">市场价：<span class="mline gray">$product[goods_market_price]</span>&nbsp;&nbsp;折扣：<span class="red">$product[discount]</span>折</span></td>
                      </tr>
                      <tr>
                        <td>当前剩余：<b class="red" rel="goods_stock">$product[goods_stock]</b> 件</td>
                        <td class="fcr">已抢 <strong class="red">$product[buy_num]</strong> 件</span></td>
                      </tr>
                      <tr>
                        <td colspan="2" class="time_bar" rel="time_bar">
<!--
EOT;
if($product[status]=='未开始'){
print <<<EOT
-->
						    离开始时间还有：<span rel="day">00</span>天<span rel="hour">00</span>小时<span rel="minute">00</span>分<span rel="second">00</span>秒
<!--
EOT;
}else if($product[status]=='进行中'){
print <<<EOT
-->
							离结束时间还有：<span rel="day">00</span>天<span rel="hour">00</span>小时<span rel="minute">00</span>分<span rel="second">00</span>秒
<!--
EOT;
}else if($product[status]=='已结束'){
print <<<EOT
-->
							已结束
<!--
EOT;
} print <<<EOT
-->
						</td>
                      </tr>
                    </table>   
                </div>
                <ul class="attr_basic">
                    <li>品牌：$product[goods_brand]</li>
                    <li>商品编号：$product[goods_code]</span></li>
                    <li>总销量：$statistics[total_sale]</li>
                    <li><span class="span_left">商品评论：</span> <span class="rate_good" title="好评"></span><span class="span_left">$statistics[good]</span><span class="rate_soso" title="中评"></span><span class="span_left">$statistics[normal]</span><span class="rate_bad" title="差评"></span><span class="span_left">$statistics[bad]</span></li>
                </ul>
                <div class="clear"></div>
                <div class=" border property_div"> 
				   <div rel="property_frame">
<!--
EOT;
foreach ($arr_attr as $key=>$list){
print <<<EOT
-->
                    <dl class="property" rel="property">
                        <dt key="$key">{$key}：</dt>
                        <dd>
<!--
EOT;
foreach ($list as $val){
print <<<EOT
-->
                            <a href="#" value="$val[0]" title="$val[0]" img="$val[1]" rel="property" key="$key" ><strong>$val[0]</strong></a>
<!--
EOT;
} print <<<EOT
-->
						</dd>
                    </dl>
<!--
EOT;
} print <<<EOT
-->
                    </div>
                    <p class="more_property" style="display:none;"><a class="fd" rel="more_property" href="#">更多</a></p>
                    <dl class="property">
                        <dt>数量：</dt>
                        <dd><input name="ps_num" id="ps_num" type="text" align="absmiddle" value="1" class="No_input" size="3" /> <span class="gray">当前商品库存 <b rel="goods_stock" class="red">$product[goods_stock]</b> 件</span></dd>
                    </dl>
                    <div class="clear"></div>
                    <div class="product_button">
<!--
EOT;
if($product[status]=='进行中'){
print <<<EOT
-->
                        <a href="#" rel="add_cart" url="$mm_url[cart]" class="pro_cart">立即购买</a>
                        <a href="#" rel="add_cart" class="add_cart">加入购物车</a>
<!--
EOT;
}else if($product[status]=='未开始'){ print <<<EOT
-->
                        <a href="#" class="fl but_star">即将开始</a>
<!--
EOT;
}else if($product[status]=='已结束'){ print <<<EOT
-->
                        <a href="#" class="fl but_over">已结束</a>
<!--
EOT;
} print <<<EOT
-->
                    </div>
                    <div id="show_cart"></div>	
                </div>
                <div class="share_fav_bar">
				    <div class="fl bshare-custom"><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis" style="margin:2px 35px 0 0;">分享</a></div>
                    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
					<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script> 
					<a href="#" class="fav_goods" rel="fav" t="1" uid="$product[uid]" module="$script" gt="$goods_table">收藏本商品<span>({$favorite_num})</span></a> 
					<a href="#" class="fav_shop" rel="fav" t="0" uid="$page_member_id" module="" gt="">收藏本商铺<span></span></a> 
				</div>
            </div>
        </div><!-- 商品详细 -->
		<div class="clear"></div>
		<ul id="nav" class="product_tab">
			<li><a rel="tab_title" class="hover">商品详细</a></li>
			<li><a rel="tab_title">商品咨询<strong class="red"></strong></a></li>
			<li><a rel="tab_title">商品评论<strong class="red"></strong></a></li>
            <li><a rel="tab_title">成交记录<strong class="red"></strong></a></li>
		</ul>	
		<div rel="tab_body" n="product" class="product_con border h_oflow">
        	<ul class="h_oflow mb10 pro_attr">
<!--
EOT;
foreach($product[filter_attr] as $key=>$val){
print <<<EOT
-->
            	<li>{$key}: {$val}</li>
<!--
EOT;
} print <<<EOT
-->
            </ul>
			<div rel="goods_main">商品内容加载中...</div>
		</div><!-- 商品详细 -->
		<div rel="tab_body" n="product" class="product_con border h_oflow" style="display:none">           
        	<ul class="pro_spzx" rel="consult">
			    <li rel="first_row" style="height:24px;">咨询内容努力加载中...</li>
        	</ul>
			<div class="clear"></div>
			<div rel="gcomment">
				<textarea name="comment_body" rows="6" cols="90" class="border"></textarea><br />
<!--
EOT;
if($main_settings[mm_code_use]==1){
print <<<EOT
-->
				验证码：<input name="code" type="text" class="text_yzm" size="20" maxlength="8" /> 
				<img align="absmiddle" src="ajax.php?action=code&rnd=$m_now_time" rel="code" onClick="this.src='ajax.php?action=code&rnd='+Math.random();" style="cursor:pointer; height:32px" alt="验证码" />
<!--
EOT;
} print <<<EOT
-->
				<input type="button" rel="gcomment_submit" value="确定" class="s_button mt10" />
			</div>
		</div><!-- 商品咨询 -->
		<div rel="tab_body" n="product" class="product_con border h_oflow" style="display:none">
			<div class="pro_satisfaction">
				<p><strong class="fl">商品满意度 &nbsp;</strong> <span class="gray fl">(有$statistics[comment_total]人评论)</span><span class="rate_good" title="好评"></span><span class="orange f13"><span class="fl">$statistics[good] &nbsp;</span><span class="rate_soso" title="中评"></span> <span class="fl">$statistics[normal] &nbsp;</span> <span class="rate_bad" title="差评"></span> <span class="fl">$statistics[bad]</span> </span></p>
			</div>
			<div class="clear"></div>
            <table cellspacing="0" class="pro_comment" rel="order_comment">
                <tr>
                    <td>评论内容加载中...</td>
                </tr>
            </table>
		</div><!-- 商品评论 -->
        <div rel="tab_body" n="product" class="product_con border h_oflow" style="display:none">
			<table cellpadding="0" class="pro_jyjl" rel="order_rec">
				<tr>
					<th>买家</th>
                    <th>价格</th>
                    <th width="10%">数量</th>
                    <th width="20%">付款时间</th>
                    <th>款式和型号</th>	
				</tr>
			</table>
		</div><!-- 成交记录 -->    
	</div><!-- End Product Display -->
	
    <div class="clear"></div>
    <h3 class="titlec pad8"><span>购买该商品的用户还购买了</span></h3>
    <ul class="h_oflow bg_gray buy_other">
<!--
EOT;
foreach ($arr_relation as $val){
print <<<EOT
-->
		<li><a href="$val[url]"><img src="$val[goods_file1]" class="border" /></a>
            <p class="name"><a href="$val[url]" title="$val[goods_name]">$val[goods_name]</a></p>
			<p class="red">$val[goods_sale_price]</p>
		</li>
<!--
EOT;
} print <<<EOT
-->
	</ul><!-- 购买该商品的用户还购买了 -->
<!--
EOT;
?>-->