<!--<?php
require_once template('header'); 
print <<<EOT
-->
	<ul class="member_tab f12 fd" rel="member_tab">
		<li class="hover"><a href="member.php?action=index" class="white">我是买家</a></li>
		<li><a href="sadmin.php?module=index">我是商家</a></li>
		<li><a href="account.php?action=index">账号管理</a></li>
        <li><a href="member.php?action=want_supply">我的社交</a></li>
	</ul><br />
<script type="text/javascript">
$(function(){
    $("form[@name=back_form]").submit(function(){
	    var msg="";
		var company=$(this).find("input[@name=company]").val();
		var delivery_code=$(this).find("input[@name=delivery_code]").val();
		if(company=="") msg+="请填写物流公司\\n";
		if(delivery_code=="") msg+="请填写运单号码\\n";
		
		if(msg!="")
		{
		    alert(msg);
			return false;
		}
		return true;
	});//end submit
});
</script>
	<div class="h_oflow refund_flow refund_flow3"><h3></h3><p></p></div><!-- 退货第一步开始 -->
		<div class="refund_div">
        	<div class="h_oflow fl refund_goods">
				商铺：<a href="$shop[url]" target="_blank">$shop[shop_name]</a> <a class="vmid" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=$shop[qq]&site=qq&menu=yes"><img src="./images/default/qq.jpg"></a>
                <dl class="h_oflow">
                	<dt><a href="$product[url]" target="_blank"><img src="$product[goods_file1]" class="border" /></a>
                    <dd>
                        <a href="$product[url]" target="_blank" class="name">$product[goods_name]</a>
                        $order_goods[goods_attr]
                    </dd>
                </dl>
                <p>
                    单价：$order_goods[buy_price]*$order_goods[buy_number]<br />
                    积分：$order_goods[buy_point]积分<br />
                    实付：<span class="red">$order_goods[total_price_txt]</span>（不含运费）<br />
                    订单号：$order_info[ordersn]
                </p>
            </div>
            <div class="refund_why">
            	<div class="refund_con">
                    <h3 class="f14">请退货并填写物流信息</h3>
                    <h4>1.请退货</h4>
                    <p>
                        未经卖家同意请勿用平邮或到付<br />
                        退货地址：$order_back[back_address] 收件人：$order_back[consignee]
                    </p>
                    <h4>2.请填写退货物流信息</h4>
                </div>
                <form name="back_form" action="member.php?action=$action" enctype="multipart/form-data" method="post">
				<input type="hidden" name="step" value="1" />
				<input type="hidden" name="uid" value="$order_back[uid]" />
                <table width="100%" class="refund_table">
                  <tr>
                    <td class="td1"><span class="red">*</span> 物流公司：</td>
                    <td><input name="company" type="text" class="text" size="30" /></td>
                  </tr>
                  <tr>
                    <td class="td1"><span class="red">*</span> 运单号码：</td>
                    <td><input name="delivery_code" type="text" class="text" size="30" /></td>
                  </tr>
                  <tr>
                    <td class="td1">上传凭证：</td>
                    <td class="gray"><input name="img" type="file" />图片不超过5M，最多3张，支持jpg、gif、bmp、png格式
                </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><input name="" type="submit" class="add_com_a" value="提交退货信息" /></td>
                  </tr>
                </table>
                </form>
            </div>
        </div><!-- 退货第一步结束 -->
        
        
        
<!--
EOT;
?>-->