<!--<?php
require_once template('header'); 
require_once template('social_left');
print <<<EOT
-->
<script type="text/javascript">
$(function(){
    $("a[@rel=tab]:eq($t)").addClass("hover");
	
	$("a[@rel=del]").click(function(e){
	    e.preventDefault();
		if(!confirm("确认删除指定话题？")) return;
		var uid=$(this).attr("uid");
		$.get(
		    "member.php?action=$action&step=1&uid="+uid+"&rnd="+Math.random(),
			function(){
			    $("tr[@uid="+uid+"]").remove();
			}
		);//end get
	});//end click
});
</script>
    <div class="mem_right"><!-- 会员中心首页 开始 -->
		<div class="member_title fd red">生活圈话题管理</div>
        <div class="title_rate_list">
        	<a href="member.php?action=$action&t=0" rel="tab"><span>已审核</span></a>
            <a href="member.php?action=$action&t=1" rel="tab"><span>未审核</span></a>
			<a href="member.php?action=$action&t=2" rel="tab"><span>已拒绝</span></a>
        </div>

		<table cellspacing="0" class="table_list fct" rel="table">
			<tr>
				<th width="20%">话题</th>
				<th>标签</th>
				<th>生活圈</th>
				<th>发布时间</th>
				<th>点击量</th>
<!--
EOT;
if($t==2){
print <<<EOT
-->
				<th width="20%">拒绝原因</th>
<!--
EOT;
} print <<<EOT
-->
				<th>操作</th>
			</tr>
<!--
EOT;
foreach($arr_member as $val){
print <<<EOT
-->			<tr uid="$val[uid]">
                <td class="fcl"><a href="$val[url]" target="_blank">$val[t_name]</a></td>
				<td>$val[tags]</td>
				<td><a href="$val[comm_url]" target="_blank">$val[c_name]</a></td>
				<td>$val[register_date]</td>
				<td>$val[hits]</td>
<!--
EOT;
if($t==2){
print <<<EOT
-->
				<td>$val[back_reason]</td>
<!--
EOT;
} print <<<EOT
-->
				<td>
				    <a href="member.php?action=$action&step=4&uid=$val[uid]&p_url=$p_url" class="tipsy_s modify" title="修改"></a>
				    <a href="#" rel="del" uid="$val[uid]" class="tipsy_s delete" title="删除"></a>
				</td>
            </tr>
<!--
EOT;
} print <<<EOT
-->
		</table>
		<div class="page">$page_list</div>
	</div><!-- 会员中心首页 结束 -->
<!--
EOT;
?>-->