<!--<?php
require_once template('header'); 
require_once template('member_left');
print <<<EOT
-->
<script type="text/javascript">
$(function(){
	$("a[@rel=del]").click(function(e){
	    e.preventDefault();
	    if(!confirm("确认删除分享内容？")) return;
		var uid=$(this).attr("uid");
		
		$.get(
		    "member.php?action=$action&cmd=del&uid="+uid+"&rnd="+Math.random(),
			function(){
			    $("tr[@uid="+uid+"]").remove();
			}
		);//end get
	});//end click
});
</script>
    <div class="mem_right">

		<div class="member_title fd red">
		    我的分享
		</div>
		
		<table cellspacing="0" class="table_list fct" rel="table">
			<tr>
				<th width="34%">商品名称</th>
				<th>价格</th>
				<th>喜欢</th>
				<th width="34%">分享内容</th>
				<th width="12%">操作</th>
			</tr>
<!--
EOT;
foreach($arr_order_share as $val){
print <<<EOT
-->			<tr uid="$val[uid]">
                <td class="fcl">
				    <a href="$val[url]" target="_blank"><img src="$val[goods_file1]" width="80" class="fl"/></a>
					<span class="sptm"><a href="$val[url]" target="_blank">$val[goods_name]</a></span>
				</td>
				<td>$val[buy_price]</td>
				<td>$val[love]</td>
				<td class="fcl">$val[comment]</td>
				<td>
				    <a href="member.php?action=$action&cmd=edit&uid=$val[uid]&p_url=$p_url" class="tipsy_s modify" title="修改"></a>
					<a href="#" rel="del" uid="$val[uid]" class="tipsy_s delete" title="删除"></a>
				</td>
			</tr>
<!--
EOT;
} print <<<EOT
-->
		</table>
		
		<div class="page">$page_list</div>
	</div><!-- 会员中心首页 结束 -->
<!--
EOT;
?>-->