<!--<?php
require_once template('header'); 
print <<<EOT
<!-- -->
	<div class="reg_end">
		<span class="span_left bigyes"></span>
		<h3 class="f14">注册成功，欢迎成为</h3>
		<p>如果您不做出选择，系统将自动跳转...<br />
		您可以：<br />
		<a href="{$mm_refer_url}" class="orange">回到注册前的页面→</a><br />
		<a href="member.php?action=index" class="orange">去用户中心看看→</a><br />
        <a href="account.php?action=profile" class="orange fd f14">添加自己的邮箱→</a><br />
		<a href="investment.php" class="orange">马上开店做生意→</a></p>
	</div>
	<script type="text/javascript">
	setTimeout("window.location='member.php?action=index';",3000);
	</script>
<!--
EOT;
?>-->