<!--<?php
require_once template('header'); 
require_once template('sadmin_left'); 
print <<<EOT
-->	<script type="text/javascript">
	$(function(){
		$("a[@rel=del]").click(function(e){
			e.preventDefault();
			if(!confirm("确定删除？")) return false;
			var uid=$(this).attr("uid");
			$.get(
				"sadmin.php?module=$module&action=del&uid="+uid+"&rnd="+Math.random(),
				function(msg){
					$("tr[@uid="+uid+"]").remove();
					alert(msg);
				}
			);//end get
		});//end click
		
		$("input[@rel=chkall]").click(function(){
			$("input[@name='uid_check[]']").attr("checked",$(this).attr("checked"));
		});//end click
		
		$("input[@rel=all_del]").click(function(){
		    if(!confirm("确认删除选中的商品？")) return;
			if($("input[@name='uid_check[]'][@checked]").size()<=0)
			{
			    alert("您没有选中任何商品");
				return;
			}
			$.post(
				"sadmin.php?module=$module&action=del&rnd="+Math.random(),
				$("input[@name='uid_check[]'][@checked]").serialize(),
				function(msg){
					alert(msg);
					window.location.reload();
				}
			);//end post
		});//end click
		
		$("input[@rel=bat_up]").click(function(){
		    if(!confirm("确认上架选中的商品？")) return;
			if($("input[@name='uid_check[]'][@checked]").size()<=0)
			{
			    alert("您没有选中任何商品");
				return;
			}
			$.post(
				"sadmin.php?module=$module&action=bat_up&rnd="+Math.random(),
				$("input[@name='uid_check[]'][@checked]").serialize(),
				function(msg){
					alert(msg);
					window.location.reload();
				}
			);//end post
		});//end click
		
		$("[@rel=edit]").css("cursor","pointer").click(function(e){
			var f=$(this).attr("f");
			var v=$(this).html();
			var uid=$(this).attr("uid");
			if($(this).children("input[@name=tmp_txt]").size()>0) return false;
			
			var jq_span=$(this);
			$(this).html("");
			$(this).append("<input type='text' name='tmp_txt' class='text' class='text' value='"+v+"' />");
			$(this).children("input[@name=tmp_txt]").trigger("focus");
			$(this).children("input[@name=tmp_txt]").one("blur",function(){
				var new_v=$(this).val();
				if(new_v!=v)
				{
					$.get("sadmin.php?module=$module&action=ajax_edit&f="+f+"&v="+encodeURIComponent(new_v)+"&uid="+uid+"&rnd="+Math.random());
				}
				jq_span.children("input[@name=tmp_txt]").remove();
				jq_span.html(new_v);
			});//end one blur
		});//end click
	});
	</script>

	<div class="mem_right">
		<div class="member_title fd red">未上架商品列表</div>	
		<form action="sadmin.php?module=$module&action=list" method="post" class="fl">
			<p>搜索商品：$cat_menu <input type="text" name="ps_subject" value="$ps_subject_txt" class="text" /> <input type="submit" value="确定" class="sea_button" /></p>
		</form>
			
		<form name="goods_form"  method="post" class="fr">
		<p>
		<input type="button" rel="bat_up" value="上架" class="button" /> 
		</p>
		</form>
		
        <div class="clear"></div>
		<table cellspacing="0" class="table_list fct" rel="table">
			<tr class="fn">
				<th width="8%" class="fcl"><input type="checkbox" rel="chkall" />&nbsp;<input type="button" class="delete" rel="all_del" title="全部删除" /></th>
				<th class="fcl">商品名称</th>
				<th width="10%">商城价格</th>
				<th width="16%">发布时间</th>
				<th width="10%">上架情况</th>
				<th width="12%">操作</th>
			</tr>
<!--
EOT;
foreach ($goods_rt as $val){
print <<<EOT
-->			<tr uid="$val[uid]">
				<td class="fcl"><input type="checkbox" name="uid_check[]" value="$val[uid]"  /></td>
				<td class="fcl"><img src="$val[logo]" width="80" height="80" class="span_left" />&nbsp;<span class="sptm" rel="edit" uid="$val[uid]" f="goods_name">$val[goods_name]</span></td>
				<td><span rel="edit" uid="$val[uid]" f="goods_sale_price">$val[goods_sale_price]</span></td>
				<td>$val[register_date]</td>
				<td>下架</td>
				<td>
					<a href="sadmin.php?module=$module&action=edit&uid=$val[uid]" class="tipsy_s modify" title="编辑"></a>
					<a href="#" rel="del" uid="$val[uid]" class="tipsy_s delete" title="删除"></a>
				</td>
			</tr>
<!--
EOT;
} print <<<EOT
-->		</table>
		<div class="page">$page_list</div>
		
	</div>	
<!--
EOT;
?>-->