<!--<?php
require_once template('header'); 
require_once template('sadmin_left'); 
print <<<EOT
-->	<script type="text/javascript">
	$(function(){
		$("a[@rel=del]").click(function(e){
			e.preventDefault();
			if(!confirm("确定删除？")) return false;
			var uid=$(this).attr("uid");
			$.get(
				"sadmin.php?module=$module&action=del&uid="+uid+"&ajax=ajax&rnd="+Math.random(),
				function(msg){
					$("tr[@uid="+uid+"]").remove();
					alert("删除成功");
				}
			);//end get
		});//end click
		
		$("input[@rel=chkall]").click(function(){
			$("input[@rel=subchk]").attr("checked",$(this).attr("checked"));
		});//end click
		
		$("form[@name=link_form]").submit(function(){
			if(!confirm("确认批量删除？")) return false;
			return true;
		});//end submit
		
	});
	</script> 
	
	<div class="newopen" style="width:450px;" p_url="$prev_url"><a class="close" rel="close_apply"></a><div rel="content"></div></div>	
	<div class="mem_right">
		<div class="member_title fd red">询单管理</div>
<!--
EOT;
if($page_error){
print <<<EOT
-->	<p rel="page_error_tip" class="page_error_tip"><span class="icon_error"></span>$page_error<a href="#" rel="close_page_error_tip">关闭</a></p>
<!--
EOT;
} print <<<EOT
-->
		<form name="link_form" action="sadmin.php?module=$module" method="post">
		<input type="hidden" name="action" value="del" />	
		<table cellspacing="0" class="table_list fct" rel="table">
			<tr class="fn">
				<th width="8%" class="fcl"><input type="checkbox" rel="chkall" />&nbsp;<input type="submit" class="delete" value="" title="全部删除" /></th>
				<th class="fcl">用户名</th>
				<th class="fcl">联系电话/手机</th>
				<th class="fcl">联系地址</th>
				<th>登记时间</th>
				<th>操作</th>
			</tr>
<!--
EOT;
foreach ($ask_list as $val){
print <<<EOT
-->			<tr uid="$val[uid]">
				<td class="fcl"><input type="checkbox" name="uid_check[]" rel="subchk" value="$val[uid]" align="absmiddle" /></td>
				<td class="fcl">$val[name]</td>
				<td class="fcl mem_display">$val[tel]/$val[mobile]</td>
				<td class="fcl">$val[address]</td>
				<td>$val[reg_time]</td>
				<td>
				    <a href="#" rel="apply_page" apply_url="sadmin.php?module=$module&action=edit&uid=$val[uid]" class="view" title="查看"></a>&nbsp;
					<a href="#" rel="del" uid="$val[uid]" class="delete" title="删除"></a>
				</td>
			</tr>					
<!--
EOT;
} print <<<EOT
-->		</table>
		<div class="page">$page_list</div>
		</form>
	</div>	
<!--
EOT;
?>-->