<!--<?php
require_once template('header'); 
require_once template('sadmin_left'); 
print <<<EOT
-->
<script type="text/javascript">
$(function(){
    $("a[@rel=del]").click(function(e){
	    e.preventDefault();
		if(!confirm("确认卸载指定物流方式？")) return;
		var uid=$(this).attr("uid");
		$.get(
		    "sadmin.php?module=$module&action=del&uid="+uid+"&rnd="+Math.random(),
			function(msg){
			    if(msg=="OK")
				{
				    alert("卸载成功");
				    window.location.reload();
				}
			}
		);//end get
	});//end click
});
</script>
	<div class="mem_right">
		<div class="member_title fd red">物流工具</div>
<!--
EOT;
if($page_error){
print <<<EOT
-->	<p rel="page_error_tip" class="page_error_tip"><span class="icon_error"></span>$page_error<a href="#" rel="close_page_error_tip">关闭</a></p>
<!--
EOT;
} print <<<EOT
-->
		<table cellspacing="0" class="table_list fct" rel="table">
			<tr>
				<th class="fcl">配送名称</th>
				<th class="fcl" width="40%">配送描述</th>
				<th>操作</th>
			</tr>
<!--
EOT;
foreach ($shipping as $val){
print <<<EOT
-->			<tr uid="$val[uid]">
				<td class="fcl">$val[name]</td>
				<td class="fcl">$val[desc]</td>
				<td><!--
EOT;
if ($val['install']==1) {
print <<<EOT
--><a href="$val[edit]" title="区域设置" class="blue">区域设置</a> <a href="#" rel="del" uid="$val[uid]" title="删除" class="blue">删除</a><!--
EOT;
}else{  print <<<EOT
--><a href="$val[insert]" class="blue">安装</a><!--
EOT;
} print <<<EOT
--></td>
			</tr>					
<!--
EOT;
} print <<<EOT
-->		</table>
	</div>	
<!--
EOT;
?>-->