<!--<?php
require_once template('header'); 
require_once template('sadmin_left'); 
print <<<EOT
-->	<script type="text/javascript">
	$(function(){
		$("a[@rel=del]").click(function(e){
			e.preventDefault();
			if(!confirm("确定删除？")) return false;
			var uid=$(this).attr("uid");
			$.get(
				"sadmin.php?module=$module&action=del&uid="+uid+"&rnd="+Math.random(),
				function(msg){
					$("tr[@uid="+uid+"]").remove();
					alert(msg);
				}
			);//end get
		});//end click
		
		$("input[@rel=chkall]").click(function(){
			$("input[@name='uid_check[]']").attr("checked",$(this).attr("checked"));
		});//end click
		
		$("input[@rel=all_del]").click(function(){
		    if(!confirm("确认删除选中的商品？")) return;
			if($("input[@name='uid_check[]'][@checked]").size()<=0)
			{
			    alert("您没有选中任何商品");
				return;
			}
			$.post(
				"sadmin.php?module=$module&action=del&rnd="+Math.random(),
				$("input[@name='uid_check[]'][@checked]").serialize(),
				function(msg){
					alert(msg);
					window.location.reload();
				}
			);//end post
		});//end click
		
		$("input[@rel=bat_down]").click(function(){
		    if(!confirm("确认下架选中的商品？")) return;
			if($("input[@name='uid_check[]'][@checked]").size()<=0)
			{
			    alert("您没有选中任何商品");
				return;
			}
			$.post(
				"sadmin.php?module=$module&action=bat_down&rnd="+Math.random(),
				$("input[@name='uid_check[]'][@checked]").serialize(),
				function(msg){
					alert(msg);
					window.location.reload();
				}
			);//end post
		});//end click
		
		$("input[@rel=bat_move]").click(function(){
		    if(!confirm("确认移动选中的商品？")) return;
			if($("input[@name='uid_check[]'][@checked]").size()<=0)
			{
			    alert("您没有选中任何商品");
				return;
			}
			var cat_menu_move=$("#cat_menu_move").val();
			if(cat_menu_move=="0" || cat_menu_move=="")
			{
			    alert("请选择移动的分类");
				return;
			}
			$.post(
				"sadmin.php?module=$module&action=bat_move&rnd="+Math.random(),
				$("input[@name='uid_check[]'][@checked]").serialize()+"&cat_menu_move="+cat_menu_move,
				function(msg){
					alert(msg);
					window.location.reload();
				}
			);//end post
		});//end click
		
		$("[@rel=edit]").css("cursor","pointer").click(function(e){
			var f=$(this).attr("f");
			var v=$(this).html();
			var uid=$(this).attr("uid");
			if($(this).children("input[@name=tmp_txt]").size()>0) return false;
			
			var jq_span=$(this);
			$(this).html("");
			$(this).append("<input type='text' name='tmp_txt' class='text' class='text' value='"+v+"' />");
			$(this).children("input[@name=tmp_txt]").trigger("focus");
			$(this).children("input[@name=tmp_txt]").one("blur",function(){
				var new_v=$(this).val();
				if(new_v!=v)
				{
					$.get("sadmin.php?module=$module&action=ajax_edit&f="+f+"&v="+encodeURIComponent(new_v)+"&uid="+uid+"&rnd="+Math.random());
				}
				jq_span.children("input[@name=tmp_txt]").remove();
				jq_span.html(new_v);
			});//end one blur
		});//end click
		
		$("a[@rel=openshop]").click(function(e){
	    	e.preventDefault();
			var href=$(this).attr("href");
			var shop_step=parseInt("$shop_step");
			if(isNaN(shop_step)) shop_step=0;
			if(shop_step>=parseInt("$total_step"))
			{
			    window.location=href;
				return false;
			}
			var o=$("div[@rel=dis_openshop]");
			o.find("[@rel=shop_step]").hide().eq(shop_step).show();
			o.css("width",260+"px");
			var itop=$("[@class=mem_right]").position().top;
			var ileft=$("[@class=mem_right]").position().left+($("[@class=mem_right]").width()-o.width())/2;
			o.css({
				position:"absolute",
				top:itop+101+"px",
				left:ileft+"px"
			}).slideDown(500);
		});
		$("span[@rel=openshop_close]").click(function(e){
			$("div[@rel=dis_openshop]").fadeOut(1000);
		});
	});
	</script>
	<div rel="dis_openshop" class="disn open_window"><span class="span_right close" rel="openshop_close"></span>
		<p rel="shop_step">您的商铺资料尚未完善，现在就 <a href="sadmin.php?module=settings&action=list&type=env_set" class="orange button">去完善</a></p>
		<p rel="shop_step">您还未设置支付方式，买家无法给您付款哦^_^，现在就 <a href="sadmin.php?module=payment&action=list" class="orange button">去完善</a></p>
		<p rel="shop_step">您还未设置配送方式，现在就 <a href="sadmin.php?module=shipping&action=list" class="orange button">去完善</a></p>
		<p rel="shop_step">您还未上传认证资料，现在就 <a href="sadmin.php?module=sup_check&action=list" class="orange button">去完善</a></p>
		<p><strong>温馨提示:</strong> 为了更快的通过认证,更好地取得买家信任，现在就去<a href="sadmin.php?module=sup_check&action=list" class="orange">上传相应的有效证件，进行商铺认证</a>！</p>
	</div>
	<div class="mem_right">
		<div class="member_title fd red"><a href="sadmin.php?module=$module&action=add" class="span_right white mem_add" rel="openshop">添加商品</a>商品列表</div>	
		<form action="sadmin.php?module=$module&action=list" method="post" class="fl">
			<p>搜索商品：$cat_menu <input type="text" name="ps_subject" value="$ps_subject_txt" class="text" /> <input type="submit" value="确定" class="sea_button" /></p>
		</form>
			
		<form name="goods_form"  method="post" class="fr">
		<p>
		<input type="button" rel="bat_down" value="下架" class="button" /> 
		<input type="button" rel="bat_move" value="移动" class="button" /> $cat_menu_move
		</p>
		</form>
		
        <div class="clear"></div>
		<table cellspacing="0" class="table_list fct" rel="table">
			<tr class="fn">
				<th width="6%" class="fcl"><input type="checkbox" rel="chkall" />&nbsp;<input type="button" class="delete" rel="all_del" title="全部删除" /></th>
				<th width="45%" class="fcl">商品名称</th>
				<th>商城价格</th>
				<th>发布时间</th>
				<th>上架情况</th>
				<th>接受预订</th>
				<th width="12%">操作</th>
			</tr>
<!--
EOT;
foreach ($goods_rt as $val){
print <<<EOT
-->			<tr uid="$val[uid]">
				<td class="fcl"><input type="checkbox" name="uid_check[]" value="$val[uid]"  /></td>
				<td class="fcl"><img src="$val[logo]" width="80" height="80" class="span_left" />&nbsp;<span class="sptm" rel="edit" uid="$val[uid]" f="goods_name">$val[goods_name]</span></td>
				<td><span rel="edit" uid="$val[uid]" f="goods_sale_price">$val[goods_sale_price]</span></td>
				<td>$val[register_date]</td>
				<td>上架</td>
				<td>$val[preorder]</td>
				<td>
				    <a href="$val[url]" class="tipsy_s view" title="查看" target="_blank"></a>
					<a href="sadmin.php?module=$module&action=edit&uid=$val[uid]" class="tipsy_s modify" title="编辑"></a>
					<a href="#" rel="del" uid="$val[uid]" class="tipsy_s delete" title="删除"></a>
				</td>
			</tr>
<!--
EOT;
} print <<<EOT
-->		</table>
		<div class="page">$page_list</div>
		
	</div>	
<!--
EOT;
?>-->