<!--<?php
require_once template('header'); 
require_once template('sadmin_left'); 
print <<<EOT
-->
	<div class="mem_right">
		<div class="member_title fd red"><a href="page.php?action=advert" class="fn mem_page" target="_blank">广告位申请规则</a>我的广告</div>
		<table cellspacing="0" class="table_list fct" rel="table">
			<tr>
				<th class="fcl" width="20%">广告标题</th>
				<th>广告信息</th>
				<th>参数</th>
				<th>相关图片</th>
				<th>过期时间</th>
				<th>状态</th>
			</tr>
<!--
EOT;
foreach ($ad_list as $val){
print <<<EOT
-->			<tr uid="$val[id]">
				<td class="fcl">$val[title]</td>
				<td>位置：$val[module] -> $val[pos] <br />长宽：$val[wh]</td>
				<td>$val[other_param]</td>
				<td><a href="$val[url]" target="_blank"><img src="$val[pic]" width="180" /></a></td>
				<td>$val[expire]</td>
				<td>$val[status]</td>
			</tr>
<!--
EOT;
} print <<<EOT
-->		</table>
	</div>
<!--
EOT;
?>-->