<!--<?php print<<<EOT
--><!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<title>$shop_file[shop_name]</title>
<link rel="stylesheet" type="text/css" href="images/default_wap/public.css?v=$MVMMALL_WAPVERSION" />
<link rel="stylesheet" type="text/css" href="$imgpath/mvm.css?v=$MVMMALL_WAPVERSION" />
<script type="text/javascript" src="include/javascript/jquery.js"></script>
<script type="text/javascript" src="include/javascript/jquery.searchhint.js"></script>
<script type="text/javascript" src="include/javascript/mvm.js"></script>
<script type="text/javascript">
$(function(){
    $("html").css("fontSize",(document.documentElement.clientWidth*0.1)+"px");
	$(window).resize(function(){
	     $("html").css("fontSize",(document.documentElement.clientWidth*0.1)+"px");
	});
});
</script>
<script type="text/javascript">
$(function(){
    $("a[@rel=top_cate_a]").click(
        function(){
            $("div[@rel=top_cate]").toggle();
        }
    );
});
</script> 
</head>
<body><a name="top"></a>
    <div class="top1">
        <h2>$shop_file[shop_name]</h2>
        
        <a href="#" rel="top_cate_a" class="fr top_cate_tip">本店分类</a>
<!--
EOT;
if($is_wx && $mm_wx_news_url){
print <<<EOT
-->
        <a href="$mm_wx_news_url" class="top_me">关注我</a>
<!--
EOT;
} print <<<EOT
-->
    </div>
    <div rel="top_cate" class="top_cate">
<!--
EOT;
foreach ($cat_parent as $val){
print <<<EOT
-->		<dl>
			<dt class="fd f13"><a href="$val[url]" $val[blank]>$val[category_name]</a></dt> 
<!--
EOT;
foreach ($val[children] as $child){
print <<<EOT
-->			<dd><span></span><a href="$child[url]" $child[blank]>$child[category_name]</a></dd><!--
EOT;
} print <<<EOT
-->			
		</dl>
<!--
EOT;
}
print <<<EOT
-->	</div><!-- 头部分类 -->
	<div class="footer1">
    	<ul class="h_oflow">
        	<li class="fl"><a href="$_URL[0]/index.php"><span class="home"></span>商城</a></li>
        	<li class="fl"><a href="goods.php?action=new"><span class="new" ></span>新品</a></li>
            <li class="fl li3"><a href="$mm_url[cart]" class="cart"><span></span>购物车</a></li>
            <li class="fr"><a href="tel:$mm_ceo_phone"><span class="tel"></span>联系客服</a></li>
        	<li class="fr"><a href="$_URL[0]/sadmin.php?module=index"><span class="my_acc"></span>用户中心</a></li>
        </ul>
	</div><!-- 底部悬浮 -->
<div class="wrapper" style="width:10rem;">
<!--
EOT;
?>-->