<!--<?php
require_once template('header');
print <<<EOT
-->
<script type="text/javascript" src="include/javascript/jquery.flashv3.js"></script>
<script language="javascript">
$(function(){
	var length=$("div[@rel=frame] p a").length;
	if(length==0){
		$(".tel_flash_div").addClass("tel_flash_div_no"); 
	};
	$("div[@rel=frame]").flashv3("$pics","$urls","$titles",735,"3.833rem",30,2);//手机轮转 
});
</script>
	<div class="tel_flash_div">
		<a rel="banner"><div class="tel_flash" rel="frame"></div></a>
	</div><!-- 手机轮转 -->
    <div class="h_oflow nav_index">
        <ul>
            <li class="li1"><a href="#down"><span></span>本店搜</a></li>
            <li class="li2"><a href="goods.php?action=new"><span></span>新品</a></li>
            <li class="li3"><a href="group.php?action=list"><span></span>团购</a></li>
            <li class="li4"><a href="wap_info.php"><span></span>店铺信息</a></li>
        </ul>
    </div><!-- 首页导航 -->
<!--
EOT;
$i=0;
foreach ($cat_parent as $val){
if($i++>5) break;
print <<<EOT
-->
<div class="mt6 bg_white">
	<h3 class="title2"><span></span>$val[category_name]<a href="category.php?action=$val[uid]&supid=$page_member_id" class="fr">更多></a></h3>
	<div class="h_oflow pro_list1"><!-- 商品列表开始 -->
		<ul>
<!--
EOT;
$k=0;
foreach (GetGoodsByCat($val[uid]) as $v){
$class=$k++%2==0?'span_left':'span_right';
print <<<EOT
-->
            <li class="$class">
				<a href="$v[url]" class="goods_img"><img src="$v[goods_file1]" alt="$v[goods_name]" /></a>
                <p class="name">$v[addoption]<a href="$v[url]" title="$v[goods_name]">$v[goods_name]</a></p>
                <p><span class="span_right gray">($v[goods_hit]人关注)</span><span class="red">$v[goods_sale_price]</span></p> 
            </li>
<!--
EOT;
} print <<<EOT
-->
		</ul>
	</div><!-- 商品列表结束 -->
</div>
<!--
EOT;
} print <<<EOT
-->
	<div class="h_oflow mt10 index_cate">
<!--
EOT;
$i=0;
foreach ($cat_parent as $val){
$i++;
if($i>6)
break;
print <<<EOT
-->		<a class="a$i" href="$val[url]" $val[blank]>$val[category_name]</a> 
<!--
EOT;
}
print <<<EOT
-->	</div><!-- 分类 -->
    <div class="zn_search">
        <form method="post" action="search.php?supid=$page_member_id" name="search" class="border">
            <input type="text" name="ps_search" class="s_inp" style="color:#000;" value="$ps_search" /> 
            <input type="submit" value="" class="s_but" /> 
        </form> 
    </div><!-- 搜索框 -->
<!--
EOT;
if($mm_wx_res_img && file_exists($mm_wx_res_img) && $is_wx){
print <<<EOT
-->
    <img style="width:100%" src="$mm_wx_res_img" alt="关注我">
<!--
EOT;
} print <<<EOT
-->
<!--
EOT;
?>-->	