<!--<?php
require_once template('header');
print <<<EOT
-->
	<div class="location"><p><span class="loca_icon"></span>搜索关键词：<strong>$ps_search</strong>(共有 <span class="red fd">$total_count</span> 个商品)$navigation</p></div>
    <div class="pro_list"><!-- 搜索商品结束 -->
		<ul> 
<!--
EOT;
$k=0;
foreach($arr_goods as $val){
$class=$k++%2==0?'span_left':'span_right';
print <<<EOT
-->
			<li class="$class">
				<a href="$val[url]" class="goods_img"><img src="$val[goods_file1]" alt="$val[goods_name]" /></a>
                <p class="name">$val[addoption]<a href="$val[url]" title="$v[goods_name]">$val[goods_name]</a></p>
                <p><span class="span_right gray">($val[goods_hit]人关注)</span><span class="red">$val[goods_sale_price]</span></p> 
            </li>         
<!--
EOT;
} print <<<EOT
-->
		</ul>
    </div>
<!--
EOT;
?>-->