<?php require_once('./templates/header.htm');?>
<div class="box">
  	<h3>:: MvMmall多用户商城系统安装 - 完成</h3>
  	<div class="content">
		<h2 style="margin-top:0;">恭喜！</h2>
		<p>您已经成功安装了MvMmall多用户商城系统！</p>
		<h2>下一步</h2>
		<p>基于安全考虑，建议您设置<span class="red">config/config_db.php</span>及<span class="red">union/config/config_db.php</span>文件的权限为只读。<br />
		另外，您也要删除或改名<span class="red">/install</span>目录，这样别人就不能重新安装您的商城而删除您的数据库！</p>
		<h2>配置</h2>
		<p>我们建议您先<a href="http://www.mvmmall.cn">进入官方的<span class="red">常见问答</span></a>，熟悉如何设置您的商城。<br />
		如有任何疑问，请在用户论坛上提出，我们会耐心解答您的问题。<br />
		同样重要的是，您可以查看<span class="red">文档<a href="http://mvmmall.cn/help" target="_blank">/help 目录</a></span>。</p>
		<h2>特别提示</h2>
		<p>配置您的网站时用到的最重要的是<span class="red">系统管理</span>， 您可以用它来配置您商城的基本信息和运行状态等内容。<br />
		您需要熟悉的配置网站的最重要概念就是<span class="red">模板系统</span>。<a href="http://bbs.mvmmall.cn/">在线常见问答部分</a>有相关文章。<br />
		很高兴您能选择MvMmall多用户商城系统作为您的电子商务解决方案！<br />
		点击下面的按钮测试您的商城前台和管理商城设置。</p>
	</div>
	<div class="continue" style="text-align:right;">
		<a class="red" href="../" target="_blank"><img src="images/goshop.jpg" /></a>&nbsp;&nbsp;&nbsp;
		<a class="red" href="../admincp.php?module=index"><img src="images/gomanage.jpg" /></a>
	</div>
</div>
<?php require_once('./templates/footer.htm');?>