<?php require_once('./templates/header.htm');?>
<div class="box">
  	<h3>:: MvMmall多用户商城系统 - 介 绍</h3>
	<div class="content">
		<p>欢迎来到 MvMmall 多用户商城系统 安装向导页面，安装前请仔细阅读 我们的商城系统介绍.也许对您网上商城有所帮助.。</p>
		<p>MvMmall多用户商城系统,<span class="red">软件着作权登记号：2011SR020550</span>。<br />
		版权所有 (c)2003-2018，MvMmall.com 保留所有权利。<br />
		MvMmall 的官方网址： <a href="http://www.mvmmall.cn" target="_blank">www.mvmmall.cn</a>  交流论坛： <a href="http://bbs.mvmmall.cn" target="_blank">bbs.mvmmall.cn</a><br />
		MvMmall多用户商城系统是国内最好的多用户商城解决方案的行业标准。<br />
		是广大社区运营商、门户网站运营商、校园创业团队、行业协会、百货商城、超市、购物中心等建立网上商城的首选系统，并使运营商以最少的投入赢得最大的回报。<br />
		首先我们申明,MVMMALL不会为了吸引市场的眼球而做违背程序所具有的品质（当然是精品）。<br />
		闻道有先后，术业有专攻.几年的网上商城系统开发经验及高效的开发团队使得MVMMALL能在网上商城系统行业中做得更好，更精！<br />
		好东西都是继承发扬的,把不足弥补好!这是我们MVMMALL能一直走到现在的精神.<br />
		所以我们会以开发者的思路来审核并结合众多用户建议并投入下一版的网店系统开发中，并走好自己的路。<br />
		有句老话:第一个形容女人是花的人是聪明人,第二个用花形容女人的人就是傻子！<br />
		我们MVMMALL团队能够明确自己的发展方向,明确商城用户想法,并发挥自己的优点！</p> 
	</div>
	<form method="post" action="index.php?action=license" class="continue"><input type="submit" name="submit" class="f_right button" value="继续" /></form>
</div>
<?php require_once('./templates/footer.htm');?>