/*-------------------- 针对不同模板独立定义的样式 -----------------------*/
.title1 { height:27px; border:1px solid #ddd; border-bottom:none; background:#ff5e63; line-height:25px; }
.title1 span { color:#fff; }
.title2 { padding:4px 8px; border:1px solid #FE9E9F; background:#FFEAE9; line-height:34px; }
.title2 span { padding:0 8px; color:#f33; font-size:14px; }
.title2 img { height:34px; }
.title2 a { float:right; color:#FE5051; }
.zn_search { margin-top:3px; }
.top2 { display:none; }
/*-- 头部第三块开始 --*/
.new_header { width:1200px; margin:0 auto; }
.top3 { height:39px; background:#ff5e63 ; }
.top3 ul { float:left; width:705px; }
.top3 li .navtab { float:left; padding:0 14px; line-height:39px; color:#fff; font-size:14px; text-align:center; }
.top3 li .self { padding:0 0 0 14px; overflow:hidden; background:url(nav_bg.jpg) repeat-x 0 0; color:#fd1111; font-weight:bold; }
.top3 li .self span { display:block; height:35px; padding:4px 14px 0 0; background:url(nav_bg.jpg) repeat-x right 0; }
.top3 li a:hover { color:#fd1111; text-decoration:none; }
.top3 .allcat { position:relative; float:left; width:220px; height:39px; line-height:32px; padding:0 0 0 10px; background:#ff4246; }
.top3 .allcat span { display:block; position:absolute; left:10px; top:10px; background:url(cate_bg.png) no-repeat; width:120px; height:17px; text-indent:-1000em; }
.top3 .allcat i { display:block; position:absolute; right:10px; top:3px; background:url(cate_bg.png) no-repeat -99px -25px; width:20px; height:30px; }
.top3 .allcat i.on { background-position:-74px -25px; }
.top_cate { display:none; z-index:99; position:absolute; width:230px; background:#FE9E9F;  }
.top_cate a:hover { text-decoration:none; }
.top_cate dt a { display:block; padding:0 13px; overflow:hidden; line-height:30px; color:#fff; }
.top_cate dt.self { background:#fe777b; }
.top_cate dd { display:none; }
.sub_category { display:none; background:#fe777b; width:170px; z-index:1; }
.sub_category a { display:block; padding:0 10px 0 25px; line-height:30px; color:#fff; }
.sub_category a:hover { background:#FE9E9F; color:#fff; }