/*-------------------- 针对不同模板独立定义的样式 -----------------------*/
.title1 { background:url(bg_new.jpg) 0 -80px; }
.title2 { padding:4px 8px; border:1px solid #ddd; line-height:34px; }
.title2 span { padding:0 8px; color:#06c; font-size:14px; }
.title2 img { height:34px; }
.title2 a { float:right; }
.zn_search { margin-top:4px; }
.top2 { display:none; }
/*-- 头部第三块开始 --*/
.new_header { width:1200px; margin:0 auto 8px; }
.top3 { height:38px; background:url(bg_new.jpg) 0 4px; }
.top3 .tl,.top3 .tr{ display:block; float:left; width:5px; height:34px; margin-top:4px; background:url(bg_new.jpg) 0 -40px; }
.top3 .tr { float:right; background-position:-5px -40px; }
.top3 ul { float:left; width:705px; margin-top:4px; }
.top3 li .navtab { float:left; padding:0 17px; line-height:33px; color:#fff; font-size:14px; text-align:center; }
.top3 li .self { position:relative; top:-4px; height:38px; padding-left:17px; padding-right:0; overflow:hidden; background:url(nav_bg.jpg) repeat-x 0 0; color:#000; font-weight:bold; line-height:38px; }
.top3 li .self span { display:block; padding-right:18px; background:url(nav_bg.jpg) repeat-x right 0; }
.top3 li a:hover { color:#f60; text-decoration:none; }
.top3 .allcat { position:relative; float:left; width:220px; height:34px; margin-top:5px; padding:0 0 0 10px; line-height:32px; }
.top3 .allcat span { display:block; position:absolute; left:10px; top:7px; background:url(cate_bg.png) no-repeat; width:120px; height:17px; text-indent:-1000em; }
.top3 .allcat i { display:block; position:absolute; right:10px; top:0; background:url(cate_bg.png) no-repeat -99px -25px; width:20px; height:30px; }
.top3 .allcat i.on { background-position:-74px -25px; }
.top_cate { display:none; z-index:99; position:absolute; width:230px; background:#0064c6;  }
.top_cate a:hover { text-decoration:none; }
.top_cate dt a { display:block; padding:0 13px; overflow:hidden; line-height:30px; color:#fff; }
.top_cate dt.self { background:#009bf8; }
.top_cate dd { display:none; }
.sub_category { display:none; background:#009bf8; width:170px; z-index:1; }
.sub_category a { display:block; padding:0 10px 0 25px; line-height:30px; color:#fff; }
.sub_category a:hover { background:#0064c6; color:#fff; }