body { background:#ffefef; }
.top1 { background:#fc9292; }
/*-- 底部悬浮 --*/
.footer1 { z-index:999; position:fixed; bottom:0; left:0; width:100%; padding:4px 0; overflow:visible; background:#fc9292; }
.footer1 li { width:20%; text-align:center; }
.footer1 li a { color:#fff; }
.home,.new,.tel,.my_acc,.cart span{ display:block; width:25px; height:23px; margin:0 auto; background:url(../default_wap/icon.png) 0 -30px; }
.new { background-position:0 -60px; }
.tel { background-position:0 -90px; }
.my_acc { background-position:0 -120px; }
.cart span { background-position:0 -150px; }
/*---------------------- 首页 ----------------------*/
/*-- 优惠券 --*/
.coupon_ad li { float:left; margin-right:1px; }
.coupon_ad img { width:3.3rem; }
/*-- 分类 --*/
.index_cate li { float:left; width:2.5rem; }
.index_cate a.cate_name { display:block; width:2.2rem; height:20px; margin:5px auto 15px; overflow:hidden; line-height:20px; text-align:center; }
.index_cate img { display:block; width:2.2rem; height:2.2rem; margin:0 auto; border-radius:50% 50% 50% 50%; }
/*-- 手机推荐广告 --*/
.recom_ad { clear:both; }
.recom_ad li { margin-bottom:0.2rem; }
.recom_ad li img { display:block; width:4.9rem ;}
/*-- 楼层广告 --*/
.ad_list img { width:10rem; }
/*-- 分类商品 --*/
.pro_list1 li { width:4.8rem; padding:0.1rem; }
.pro_list1 .name { height:36px; margin:0.1rem 0; }
.pro_list1 .goods_img img { display:inline; width:4.8rem; height:4.8rem; padding:0; border:0; }