/*-------------------- 针对不同模板独立定义的样式 -----------------------*/
.title2 { height:34px; padding:2px 10px; background:url(bg_show.jpg); color:#fff; line-height:34px; font-size:16px; }
.title2 img { height:34px; }
.title2 a { float:right; line-height:34px; }
.top2 { display: ; }
/*-- 头部第三块开始 --*/
.new_header { width:1200px; margin:0 auto; }
.top3 { height:34px; background:#242424; }
.top3 ul { float:left; width:705px; }
.top3 li .navtab { float:left; height:34px; padding:0 17px; overflow:hidden; line-height:34px; font-size:14px; color:#c7c7c7; }
.top3 li .self { float:left; background:#dc1b0a; font-weight:bold; color:#fff; }
.top3 li a:hover { background:#dc1b0a; color:#fff; text-decoration:none; }
.top3 .allcat { position:relative; float:left; width:220px; height:34px; line-height:32px; padding:0 0 0 10px; background:#3e3e3e; }
.top3 .allcat span { display:block; position:absolute; left:10px; top:7px; background:url(cate_bg.png) no-repeat; width:120px; height:17px; text-indent:-1000em; }
.top3 .allcat i { display:block; position:absolute; right:10px; top:0; background:url(cate_bg.png) no-repeat -99px -25px; width:20px; height:30px; }
.top3 .allcat i.on { background-position:-74px -25px; }
.top_cate { display:none; z-index:99; position:absolute; width:230px; background:#474747;  }
.top_cate a:hover { text-decoration:none; }
.top_cate dt a { display:block; padding:0 13px; overflow:hidden; line-height:30px; color:#c0c0c0; }
.top_cate dt.self { background:#575757; }
.top_cate dd { display:none; }
.sub_category { display:none; background:#575757; width:170px; z-index:1; }
.sub_category a { display:block; padding:0 10px 0 25px; line-height:30px; color:#d2d2d2; }
.sub_category a:hover { background:#474747; color:#d2d2d2; }