<!--<?php
require_once template('header'); 
print <<<EOT
<!--右边开始-->

<script charset="utf-8" type="text/javascript" src="include/kindediter/kindeditor-min.js"></script>
<script type="text/javascript">
var editor1;
KindEditor.ready(function(K) {
	editor1 = K.create('textarea[name="detail"]', {
		uploadJson : 'admincp.php?module=editor&action=upload',
		fileManagerJson : 'admincp.php?module=editor&action=list_files',
		allowFileManager : true,
		items:kindecitor_items
	});	
});
</script>
<script type="text/javascript">
$(function(){
    $("form[@name=topic_form]").submit(function(){
	    var msg="";
		if($("input[@name=title]").val()=="") msg+="请填写标题内容\\n";
		if(editor1.text()=="") msg+="请填写话题内容\\n";
		
		if(msg!="")
		{
		    alert(msg);
			return false;
		}
		
		var jq_img=$("<div>"+editor1.html()+"</div>").find("img:first");
		var cover=jq_img.size()>0?jq_img.attr("src"):"";
		$("input[@name=cover]").val(cover);
		
		$("input[@name=submit]").attr("disabled",true);
		return true;
	});//end submit

    var tag_lock=false;
	$("input[@name=create_tag]").click(function(){
	    if(tag_lock) return;
	    var content=editor1.text().substr(0,500);
		
		if(content=="")
		{
		    alert("请先填写您的话题内容");
			return;
		}
		
		tag_lock=true;
		$.ajax({
		    url:"ajax.php?action=create_tag",
			type:"POST",
			data:"content="+content,
			cache:true,
			success:function(msg){
			    $("input[@name=tags]").val(msg);
			},
			complete:function(){
			    tag_lock=false;
			}
		});
	});//end click
});
</script>
	<form name="topic_form" action="admincp.php?module=$module&action=$action" enctype="multipart/form-data" method="post">
	<input type="hidden" name="p_url" value="$p_url" />
	<input type="hidden" name="step" value="1" />
	<input type="hidden" name="uid" value="$uid" />
	<input type="hidden" name="cover" value="" />
	<table cellpadding="0" cellspacing="1" class="list1 list_bg mb0">
		<tr>
			<th colspan="4">修改供应信息</th>
		</tr>
		<tr>
			<td width="100">话题名称</td>
			<td colspan="3"><input type="text" name="title" value="$topic[t_name]" size="40" class="text2" /></td>
		</tr>
		<tr>
		    <td>详细说明</td>
			<td><textarea name="detail" style="width:100%;height:400px;visibility:hidden;">$topic[content]</textarea></td>
		</tr>
		<tr>
			<td>标签</td>
			<td colspan="3">
			    <input type="text" name="tags" value="$topic[tags]" size="40" class="text2" /> 
				<input name="create_tag" type="button" value="提取标签" /> 标签之间用空格隔开，限5个。
			</td>
		</tr>
	</table>
	<div id="tfoot"><input type="submit" name="Submit" value="确定" class="button" /></div>
	</form>
<!--
EOT;
?>-->