<!--<?php
require_once template('header'); 
print <<< EOT
<!--右边开始-->
<script type="text/javascript">
$(function(){
    $("form[@name=goods_form]").submit(function() {
        var msg="";
        if($('#goods_name').val() == '') msg += '请输入，商品名称！\\n';
        if (msg!="")
        {
            alert(msg);
            return false;
	    }
		
        return true;
    });//end submit

});
</script>
<script type="text/javascript">
$(function(){	
	var arr_brand=[];
	$("#goods_brand").children("option").each(function(i){
		if(i==0) return true;
		arr_brand.push([$(this).attr("value"),$(this).html()]);
	});//end each
		
	$("input[@rel=search_brand]").click(function(e){
		var brand_name=$("input[@name=search_brand]").val();
		$("#goods_brand").empty();
		$("#goods_brand").append("<option value='0'>--</option>");
		for(var i in arr_brand)
		{
		    if(arr_brand[i][1].indexOf(brand_name)<0) continue;
			$("#goods_brand").append("<option value='"+arr_brand[i][0]+"'>"+arr_brand[i][1]+"</option>");
		}
		if($("#goods_brand").children().size()>1) $("#goods_brand").children().eq(1).attr("selected",true);
	});//end click
	
	$("a[@rel=del_gallery]").click(function(e){
		e.preventDefault();
		var uid=$(this).parent().attr("uid");
		$.get(
			"admincp.php?module=$module&action=delimg&uid="+uid+"&rnd="+Math.random(),
			function(){
				$("div[@uid="+uid+"]").remove();
			}
		);//end get
	});//end click
	
	$("input[@name=type]").click(function(){
		$("input[@name=type]").not(this).attr("checked",false);
	});//end click
});
</script>
<script type="text/javascript">
function filter_att_callback(cat_id)
{
	if(cat_id<=0) return;
	$.ajax({
		url:"admincp.php?module=$module&action=get_att_list&cid="+cat_id,
		type:"GET",
		cache:true,
		dataType:"json",
		success:function(json){
		   var html="";
		   $("td[@rel=att_list]").empty();
		   for(var key in json)
		   {
		       html="";
		       html+='<div class="attr_goods">';
			   html+='<span>'+key+'</span>';
			   html+='<select name="filter_attr['+key+']">';
			   for(var i in json[key])
			   {
			       html+='<option value="'+json[key][i]+'">'+json[key][i]+'</option>';
			   }
			   html+='</select>';
			   html+='</div>';
			   $("td[@rel=att_list]").append(html);
		   }
		}
	});//end ajax
}//end function
</script>


<script type="text/javascript" src="include/javascript/jquery.category.js"></script>
<div id="right">
	<form name="goods_form" action="admincp.php?module=$module&action=edit" method="post" enctype="multipart/form-data">
	<input type="hidden" name="setp" id="step" value="1"/>
	<input type="hidden" name="uid" id="uid" value="$uid"/>
	<input type="hidden" name="prev_url" value="$_GET[prev_url]" />
	<table cellpadding="0" cellspacing="1" class="list1">
		<tr>
			<th colspan="4">基本信息</th>
		</tr>
		<tr>
			<td width="12%">分类选择</td>
			<td>
			    <span rel="goods_category"></span>
				<script type="text/javascript">
				$(function(){
				    $("span[@rel=goods_category]").GoodsCategory("$product[goods_category]",filter_att_callback);
				});
				</script>
			</td>
			<td width="12%">商品编号</td>
			<td><input type="text" name="goods_code" id="goods_code" value="$goods_code" maxlength="25" class="text text_1" /></td>
		</tr>
		<tr>
		    <td>筛选属性</td>
			<td colspan="3" rel="att_list" style="padding:0">$filter_html</td>
		</tr>
	</table>
	
	<!--商品信息 -->	
	<table cellpadding="0" cellspacing="1" class="list1">
		<tr>
			<th colspan="4">商品信息</th>
		</tr>
		<tr>
			<td width="12%">商品名称</td>
			<td><input type="text" name="goods_name" id="goods_name" value="$goods_name" maxlength="255" class="text text_1" / ></td>
		    <td width="12%">总库存</td>
			<td><input type="text" name="goods_stock" value="$goods_stock" maxlength="10" class="text2 text_1" /></td>
		</tr>
		<tr>
			<td>商品关键字</td>
			<td><textarea name="goods_key" rows="3" class="text text_1">$goods_key</textarea></td>
			<td>商品描述</td>
			<td><textarea name="goods_advance" rows="3" class="text text_1">$goods_advance</textarea></td>
		</tr>
		<tr>
			<td>进货价</td>
			<td><input type="text" name="goods_cost" value="$goods_cost" maxlength="15" class="text text_1" /> 元</td>
			<td>市场价</td>
			<td><input type="text" name="goods_market_price" value="$goods_market_price" maxlength="15" class="text text_1" /> 元</td>
		</tr>
		<tr>
			<td>起拍价</td>
			<td><input type="text" name="start_price" value="$start_price" maxlength="15" class="text text_1" /> 元</td>
			<td>一口价</td>
			<td><input type="text" name="end_price" value="$end_price" maxlength="15" class="text text_1" /> 元</td>
		</tr>
		<tr>
			<td>保证金</td>
			<td><input type="text" name="assure" value="$assure" maxlength="15" class="text text_1" /> 元</td>
			<td>加价幅度</td>
			<td><input type="text" name="bid_add" value="$bid_add" maxlength="15" class="text text_1" /> 元</td>
		</tr>
		<tr>
			<td>商品展示</td>
			<td>
			    <input type="checkbox" name="goods_status[]" value="1" $hot_checked /> 热门 
				<input type="checkbox" name="goods_status[]" value="2" $best_checked /> 推荐 
				<input type="checkbox" name="goods_status[]" value="4" $free_delivery_checked /> 免邮
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>商品重量</td>
			<td><input type="text" name="goods_kg" id="goods_kg" value="$goods_kg" maxlength="15" class="text text_1" /> 克</td>
			<td>商品品牌</td>
			<td>
				<input type="text2" class="text2 text_1" name="search_brand" /> <input type="button" rel="search_brand" value="搜索" class="button3" />
			    $brand_menu
			</td>
		</tr>
		<tr>
			<td>商品详细大图</td>
			<td><input type="file" name="goods_file2" class="text text_1" /><p class="alert_info2 text_11"><span class="icon_info"></span>支持jpg,gif,png格式的图片</p></td>
			<td>商品缩图</td>
			<td><input type="file" name="goods_file1" class="text text_1" /><p class="alert_info2"><span class="icon_info"></span>支持jpg,gif,png格式的图片，不上传由程序自动缩略生成</p></td>
		</tr>
		<tr>
		    <td>拍卖起止时间</td>
			<td colspan="3">
			    <input type="text" class="text" name="start_date" id="start_time" value="$start_date" onclick="return showCalendar('start_time', 'y-m-d');" /> ~ 
				<input type="text" class="text" name="end_date" id="end_time" value="$end_date" onclick="return showCalendar('end_time', 'y-m-d');" />
			</td>
		</tr>
	</table>
	
	<script charset="utf-8" type="text/javascript" src="include/kindediter/kindeditor-min.js"></script>
	<script type="text/javascript">
	KindEditor.ready(function(K) {
		var editor1 = K.create('textarea[name="goods_main"]', {
			uploadJson : 'admincp.php?module=editor&action=upload',
			fileManagerJson : 'admincp.php?module=editor&action=list_files',
			allowFileManager : true,
			items:kindecitor_items
		});
	});
	</script>
	<table cellpadding="0" cellspacing="1" class="list1">
		<tr>
			<th width="12%">详细信息</th>
			<th>操作</th>
		</tr>
		<tr>
			<td>商品说明</td>
			<td><textarea name="goods_main" style="width:100%;height:400px;visibility:hidden;">$goods_main</textarea></td>
		</tr>
	</table>
	
	<table cellpadding="0" cellspacing="1" class="list1">
		<tr>
			<th width="12%">商品相册</th>
			<th>操作</th>
		</tr>
		<tr>
			<td>相册图片</td>
			<td>
<!--
EOT;
foreach ($photo as $val){
print <<<EOT
-->	
			<div uid="$val[imgid]" style="float:left;text-align:center;border:1px solid #DADADA;margin:4px;padding:2px;">
			    <a href="#" rel="del_gallery"> [-]</a><br />
			    <a href="$val[thumb]" target="_new"><img src="$val[thumb]" width="100" height="100" border="0" /></a>
			</div>
<!--
EOT;
} print <<<EOT
-->
			</td>
		</tr>
	</table>

	<div id="tfoot"><input type="submit" name="Submit" value="确 定" class="button" onclick="" /> <input type="reset" name="reset" value="重 置" class="button" /></div>
	</form>
</div>
<!-- end -->
<!--
EOT;
?>-->