<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html><head>
<meta http-equiv=content-type content="text/html; charset=utf-8">
<title>Powered by Mvmmall</title>
<script type="text/javascript">
if(top.location !== self.location) top.location=self.location; 
</script>
</head>
<body style="margin:0px" scroll="no">
<div style="z-index:2; left:0px; width:100%; position:absolute; top:0px; height:65px">
	<iframe id="header" style="z-index:1; visibility:inherit; width:100%; height:65px" name="header" src="admincp.php?module=index&frame=top" frameborder="0" scrolling="no"></iframe>
</div>
<table cellspacing="0" cellpadding="0" height="100%" width="100%" style="table-layout:fixed; background:#fff;">
  	<tr>
    	<td width="174" height="65"></td>
    	<td></td>
	</tr>
  	<tr>
    	<td><iframe id="menu" style="z-index:1; visibility:inherit; overflow:auto; width:100%; height:100%;" name="menu" src="admincp.php?module=index&frame=menu"  frameborder="0" scrolling="yes"></iframe></td>
    	<td style="height:100%;"><iframe id="main" style="z-index:1; visibility:inherit; overflow:auto; width:100%; height:100%" name="main" src="admincp.php?module=index&frame=main"  frameborder="0" scrolling="yes"></iframe></td>
    </tr>
</table>
</body>
</html>
