<!--<?php
require_once template('header'); 
print <<<EOT
<!--右边开始-->
<style type="text/css">
.approval{cursor:pointer;}
</style>
<script type="text/javascript">
$(function(){
    $("a[@rel=del]").click(function(e){
	    e.preventDefault();
		if(!confirm("确认删除？")) return false;
		var uid=$(this).attr("uid");
		$.get(
		    "admincp.php?module=$module&action=del&uid="+uid+"&rnd="+Math.random(),
			function(msg){
			    $("tr[@uid="+uid+"]").remove();
			}
		);//end get
	});//end click
	
	$("a[@rel=rollback]").click(function(e){
	    e.preventDefault();
		if(!confirm("确认回退？")) return false;
		var uid=$(this).attr("uid");
		$.get(
		    "admincp.php?module=$module&action=rollback&uid="+uid+"&rnd="+Math.random(),
			function(msg){
			    if(msg=="ok")
				{
				    alert("回退成功");
					window.location.reload();
					return true;
				}
				alert(msg);
			}
		);//end get
	});//end click
	
	$("a[@rel=check]").click(function(e){
	    e.preventDefault();
		if(!confirm("确认审核？")) return false;
		var uid=$(this).attr("uid");
		$.get(
		    "admincp.php?module=$module&action=check&uid="+uid+"&rnd="+Math.random(),
			function(msg){
			    if(msg=="ok")
				{
				    alert("审核成功");
					window.location.reload();
					return true;
				}
				alert(msg);
			}
		);//end get
	});//end click
});
</script>
<div id="right">
	<table class="clst" align="center" cellpadding="0" cellspacing="1" style="margin-bottom:0;">
		<tr>
			<td class="tleft">资金明细</td>
			<td class="tright red">
<!--
EOT;
if($ps_member){
print <<<EOT
-->账户余额：$money_left_total 可用余额：$money_left 今日交易额：$money_today<!--
EOT;
} print <<<EOT
--></td>
		</tr>
	</table>
	<form action="" method="post" style="border:solid 1px #888; border-top:none; padding:3px 10px;">
	    <input type="hidden" name="step" value="1" />
		会员：<input type="text" class="text" name="ps_member" size="12" value="$ps_member_txt" />  
		类型：$sel_mt 
		收支：$sel_st 
		时间：<input type="text" class="text" size="7" name="b_time" id="b_time" value="$b_time" onclick="return showCalendar('b_time', 'y-m-d');" /> ~ <input type="text" class="text" name="e_time" size="7" id="e_time" value="$e_time" onclick="return showCalendar('e_time', 'y-m-d');" />  
		收入：<strong class="red">$income_money</strong> 
		支出：<strong class="red">$cost_money</strong>
		<input type="submit" value="搜索" class="button4" />
	</form>
	<div style="clear:both; height:5px; overflow:hidden;"></div>
	<table cellpadding="0" cellspacing="1" class="list">
		<tr>
        	<th width="10%">会员</th>
            <th width="12%">交易类型</th>
            <th>支付类别</th>
		    <th width="14%">交易单号</th>
			<th width="10%">收支</th>
			<th width="10%">可用余额</th>
			<th width="10%">创建时间</th>
			<th width="10%">状态</th>
			<th width="8%" style="display:none;">操作</th>
		</tr>

<!--
EOT;
foreach ($member_money as $val){
print <<<EOT
-->		
		<tr uid="$val[uid]">
        	<td><a href="admincp.php?module=member_money&action=list&ps_member=$val[money_id]&t=$t">$val[money_id]</a></td>
            <td>$val[type]</td>
            <td class="td1"><a href="#" class="tipsy_w" title="$val[other_info]">$val[money_reason]</a></td>
        	<td>$val[money_sess]</td>
		    <td>$val[add] <span class="orange">$val[minus]</span></td>
			<td>$val[money_left]</td>
			<td>$val[reg_time]</td>
			<td>$val[status]</td>
			<td style="display:none;">
<!--
EOT;
if($val[approval_date]==0){
print <<<EOT
-->
		        <a href="#" rel="check" uid="$val[uid]" class="tipsy_s check" title="审核"></a>
<!--
EOT;
} print <<<EOT
-->
<!--
EOT;
if($val[approval_date]>0 && ($val[type]=='预付款' || substr($val['money_sess'],0,2)=='PM')){
print <<<EOT
-->
		        <a href="#" rel="rollback" uid="$val[uid]" class="tipsy_s tui" title="回退" style="display:none;"></a>
<!--
EOT;
} print <<<EOT
-->
			    <a href="#" rel="del" uid="$val[uid]" class="tipsy_s delete" title="删除"></a>		
			</td>
		</tr>
<!--
EOT;
} print <<<EOT
-->		
	</table>	
	<div id="page"><span>$page_list</span></div>	
</div>
<!--
EOT;
?>-->