<!--<?php
require_once template('header'); 
print <<<EOT
<!--右边开始-->
<script type="text/javascript">
var pattern=/^\d+$/;
$(function(){
    $(".td").click(function(e){    //品牌名称单元格点击的时候
	    var jqThis=$(this);
		var jqA=jqThis.children("a");
		var jqSpan=jqA.children("span");
		if(jqThis.children("input").size()<=0)
		{
		    var oldv=jqA.text();
		    jqThis.empty();
		    jqThis.append("<input type=\"text\" class=\"text\" style=\"width:150px;\" value=\""+oldv+"\">");
			jqThis.cInput=jqThis.children("input");
			jqThis.cInput.get(0).focus();
			jqThis.cInput.get(0).select();
			//为这个input绑定事件
			jqThis.cInput.one("blur",function(){
			    var v=jqThis.cInput.get(0).getAttribute("value");
				jqThis.empty();
				jqA.text(v);
				jqA.attr("href",v);
				jqA.append(jqSpan);
				jqThis.append(jqA);
				if(v==oldv) return;    //前后的值相同就不会回传了
				var id=jqThis.parent().attr("uid");
				//发送到服务器去
				$.get("admincp.php?module=navigation&action=ajax&uid="+id+"&field=title&v="+encodeURI(v));
			});
		}
	});//end td click
	$(".od").click(function(e){    //输出顺序单元格点击的时候
	    var jqThis=$(this);
		if(jqThis.children("input").size()<=0)
		{
		    var oldv=jqThis.text();
		    jqThis.empty();
		    jqThis.append("<input type=\"text\" class=\"text\" style=\"width:20px;\" value=\""+oldv+"\">");
			jqThis.cInput=jqThis.children("input");
			jqThis.cInput.get(0).focus();
			jqThis.cInput.get(0).select();
			//为这个input绑定事件
			jqThis.cInput.one("blur",function(){
			    var v=jqThis.cInput.get(0).getAttribute("value");
				if(!pattern.test(v)) v=oldv
				jqThis.empty();
				jqThis.append(document.createTextNode(v));
				if(v==oldv) return;    //前后的值相同就不会回传了
				var uid=jqThis.parent().attr("uid");
				//发送到服务器去
				$.get("admincp.php?module=navigation&action=ajax&uid="+uid+"&field=view&v="+v);
			});
		}
	});//end od click
	
	$(".wd").click(function(e){    //窗体类型单元格点击的时候
	    var jqThis=$(this);
		if(jqThis.children("select").size()<=0)
		{
		    var oldv=jqThis.text();
			var oldNumV=$.trim(oldv)=="新窗口"?1:0;
		    jqThis.empty();
			var appendHtml="";
			if($.trim(oldv)=="新窗口")
			    appendHtml="<select style=\"width:80px;\"><option value=\"1\" selected>新窗口</option><option value=\"0\">本窗口</option></select>";
			else
			    appendHtml="<select style=\"width:80px;\"><option value=\"1\">新窗口</option><option value=\"0\" selected>本窗口</option></select>";
		    jqThis.append(appendHtml);
			jqThis.cSelect=jqThis.children("select");
			jqThis.cSelect.get(0).focus();
			//为这个select绑定事件
			jqThis.cSelect.one("blur",function(){
			    var v=jqThis.cSelect.get(0).value;
				var textV=parseInt(v)==1?"新窗口":"本窗口";
				jqThis.empty();
				jqThis.append(document.createTextNode(textV));
				if(v==oldNumV) return;    //前后的值相同就不会回传了
				var uid=jqThis.parent().attr("uid");
				//发送到服务器去
				$.get("admincp.php?module=navigation&action=ajax&uid="+uid+"&field=target&v="+v);
			});
		}
	});//end wd click
	
	$(".pd").click(function(e){    //栏目类型单元格点击的时候
	    var jqThis=$(this);
		if(jqThis.children("select").size()<=0)
		{
		    var oldv=jqThis.text();
		    jqThis.empty();
			var appendHtml="$tpl_pos_menu";
		    jqThis.append(appendHtml);
			jqThis.cSelect=jqThis.children("select");
			jqThis.cSelect.get(0).focus();
			jqThis.cSelect.val(oldv);
			//为这个select绑定事件
			jqThis.cSelect.one("blur",function(){
			    var v=jqThis.cSelect.val();
				var v_text=jqThis.cSelect.children("[value="+v+"]").text();
				jqThis.empty();
				jqThis.append(document.createTextNode(v_text));
				if(v_text==oldv) return;    //前后的值相同就不会回传了
				var uid=jqThis.parent().attr("uid");
				//发送到服务器去
				$.get("admincp.php?module=navigation&action=ajax&uid="+uid+"&field=pos&v="+v);
			});
		}
	});//end pd click
	
	$("#chkall").click(function(e){
	    var b=$(this).attr("checked");
		$("input[@rel=del_chk]").attr("checked",b);
	});
	
	$("#delall").click(function(e){
	    return confirm("确认全部删除？");
	});
	
	$("a[@rel=del]").click(function(e){
	    e.preventDefault();
		if(!confirm("确认删除？")) return;
		
		var uid=$(this).attr("uid");
		$.get(
		    "admincp.php?module=$module&action=del&uid="+uid+"&rnd="+Math.random(),
			function(){
			    $("tr[@uid="+uid+"]").remove();
			}
		);//end get
	});//end click
});
</script>
<div class="newopen" style="display:none;" p_url="$prev_url"><a class="close" href="#" rel="close_apply"></a><div rel="content"></div></div>
<div id="right">
<form action="admincp.php?module=$module" method="post">
    <input type="hidden" name="step" value="1" />
	<input type="hidden" name="action" value="all_delete" />
	<table class="clst" align="center" cellpadding="0" cellspacing="1">
		<tr>
			<td class="tleft">$lang[since_navigation]</td>
			<td class="tright">
			<a href="#" rel="apply_page" apply_url="admincp.php?module=navigation&action=add&pos=$pos" class="but1">$lang[add_navigation]</a>
			</td>
		</tr>
	</table>
<!--
EOT;
if($page_error){
print <<<EOT
-->	<p rel="page_error_tip" class="page_error_tip"><span class="icon_error"></span>$page_error<a href="#" rel="close_page_error_tip">关闭</a></p>
<!--
EOT;
} print <<<EOT
-->
	<table cellpadding="0" cellspacing="1" class="list">
		<tr>
			<th width="5%"><label for="chkall"><input type="checkbox" id="chkall" /></label></th>
			<th width="25%">$lang[title]</th>
			<th width="12%">上级栏目</th>
			<th width="12%">$lang[sort]</th>
			<th width="12%">$lang[type_columns]</th>
			<th width="12%">窗口类型</th>
			<th width="10%">$lang[operation]</th>
		</tr>
		
<!--
EOT;
foreach ($nav_rt as $val){
++$i;
print <<<EOT
-->		
		<tr uid="$val[nid]">
			<td><input type="checkbox" value="$val[nid]" name="uid_check[]" rel="del_chk" /></td>
			<td class="td1"><a href="$val[link]" target="_blank" title="$val[alt]">$val[title]</a></td>
			<td>$val[t]</td>
			<td class="od" style="cursor:pointer;">$val[view]</td>
			<td class="pd" style="cursor:pointer;">$val[pos]</td>
			<td class="wd" style="cursor:pointer;">$val[win_type]</td>
			<td>
			    <a href="#" rel="apply_page" apply_url="$val[edit]" class="tipsy_s modify" title="修改"></a>  
				<a href="#" class="tipsy_s delete" rel="del" uid="$val[nid]" title="删除"></a>
			</td>
		</tr>
<!--
EOT;
} print <<<EOT
-->		
	</table>	
	<div id="page"><b style="float:left;"><input type="submit" id="delall" value="删除所选" class="button1" /></b><span>$page_list</span></div>
</form>
</div>
<!--
EOT;
?>-->