<!--<?php
print <<<EOT
<!--右边开始-->
<!--form content-->
	<form name="mvmmall" action="admincp.php?module=$module&action=$action" method="post" >
	<table cellpadding="0" cellspacing="1" class="list1 list_bg">
	
		<tr><th colspan="4">商铺申请查看</th></tr>
		<tr>
			<td width="15%">商铺名称:</td>
			<td width="35%">$rtl[shop_name]</td>
			<td width="15%">联系人：</td>
			<td width="35%">$rtl[name]</td>
		</tr>
		<tr>
			<td>商铺分类:</td>
			<td>$rtl[sup_cat]</td>
			<td>商铺类型：</td>
			<td>$rtl[sellshow]</td>
		</tr>
		<tr>
			<td>经营商品:</td>
			<td>$rtl[run_product]</td>
			<td>地址：</td>
			<td>$rtl[address]</td>
		</tr>
		<tr>
			<td>联系电话:</td>
			<td>$rtl[tel]</td>
			<td>qq：</td>
			<td>$rtl[qq]</td>
		</tr>
		<tr>
			<td>logo:</td>
			<td>$logo</td>
			<td>logo文字：</td>
			<td>$rtl[logo_tip]</td>
		</tr>
		<tr>
			<td>banner:</td>
			<td>$banner</td>
			<td>banner文字：</td>
			<td>$rtl[banner_tip]</td>
		</tr>
		<tr>
			<td>商铺描述:</td>
			<td colspan="3">$rtl[shop_desc]</td>
		</tr>
		<tr>
			<td>留言:</td>
			<td colspan="3">$rtl[msg]</td>
		</tr>
		<tr>
			<td>申请时间:</td>
			<td colspan="3">$rtl[reg_time]</td>
		</tr>
	</table>
	</form>
<!--
EOT;
?>-->