<!--<?php
require_once template('header'); 
print <<< EOT
<!--右边开始-->
<div class="newopen" style="display:none;" p_url="$prev_url"><a class="close" href="#" rel="close_apply"></a><div rel="content"></div></div>
<script type="text/javascript">
$(function(){
    $("a[@rel=del]").click(function(e){
	    e.preventDefault();
		if(!confirm("确认删除？")) return;
		
		var uid=$(this).attr("uid");
		console.log("admincp.php?module=$module&action=del&uid="+uid+"&rnd="+Math.random());
		$.get(
		    "admincp.php?module=$module&action=del&uid="+uid+"&rnd="+Math.random(),
			function(msg){
			    $("tr[@uid="+uid+"]").remove();
			}
		);//end get
	});//end click
});
</script>

<div id="right">
	<table class="clst" align="center" cellpadding="0" cellspacing="1">
		<tr>
			<td class="tleft">商铺申请管理</td>
			<td class="tright">&nbsp;</td>
		</tr>
	</table>
<!--
EOT;
if($page_error){
print <<<EOT
-->	<p rel="page_error_tip" class="page_error_tip"><span class="icon_error"></span>$page_error<a href="#" rel="close_page_error_tip">关闭</a></p>
<!--
EOT;
} print <<<EOT
-->
	<table cellpadding="0" cellspacing="1" class="list">
		<tr>
			<th>申请商铺名</th>
			<th>联系人</th>
			<th width="12%">商铺类型</th>
			<th width="12%">商铺分类</th>
			<th width="12%">联系电话</th>
			<th width="10%">操作</th>
		</tr>

<!--
EOT;
foreach ($apply_list as $val){
print <<<EOT
-->
		<tr uid="$val[m_uid]">
			<td class="td1"><a href="$val[shop_url]" target="_blank">$val[shop_name]</a></td>
			<td class="td1">$val[name]</td>
			<td>$val[sellshow]</td>
			<td>$val[shop_cat]</td>
			<td>$val[tel]</td>
			<td>
			    <a href="#" rel="apply_page" apply_url="admincp.php?module=$module&action=edit&uid=$val[m_uid]" class="tipsy_s view" title="查看"></a>
				<a href="#" rel="del" uid="$val[m_uid]" class="tipsy_s delete" title="删除"></a>
			</td>
		</tr>
<!--
EOT;
} print <<<EOT
-->
	</table>
	<div id="page"><span>$page_list</span></div>

	
</div>
<!-- end -->
<!--
EOT;
?>-->